---
http_interactions:
- request:
    method: get
    uri: https://mapit.mysociety.org/postcode/B743UD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Contenttype:
      - application/json
      X-Api-Key:
      - "<MAPIT_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-gb
      X-Url:
      - "/postcode/B743UD"
      X-Quota-Limit:
      - '10000'
      X-Quota-Current:
      - '552'
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 52.60206037885955, "coordsyst": "G", "shortcuts": {"WMC":
        65880, "ward": {"county": 143829, "district": 145396}, "council": {"county":
        2240, "district": 2434}}, "wgs84_lon": -1.8594088208255135, "postcode": "B74
        3UD", "easting": 409619, "areas": {"2240": {"parent_area": null, "generation_high":
        32, "all_names": {}, "id": 2240, "codes": {"ons": "41", "gss": "E10000028",
        "unit_id": "15052", "local-authority-eng": "STS"}, "name": "Staffordshire
        County Council", "country": "E", "type_name": "County council", "generation_low":
        1, "country_name": "England", "type": "CTY"}, "11809": {"parent_area": null,
        "generation_high": 32, "all_names": {}, "id": 11809, "codes": {"ons": "05",
        "gss": "E15000005", "unit_id": "41426"}, "name": "West Midlands", "country":
        "E", "type_name": "European region", "generation_low": 1, "country_name":
        "England", "type": "EUR"}, "2434": {"parent_area": null, "generation_high":
        32, "all_names": {}, "id": 2434, "codes": {"ons": "41UD", "gss": "E07000194",
        "unit_id": "14797", "local-auth[...]
