%li.is-block[client]
  .is-inline-block
    =link_to client.name, service_manager_client_path(client)
    =I18n.t('clients.information.registered_date', created: client.created_at.to_date.to_s(:short))
    =link_to I18n.t('clients.buttons.assign_advisor'), service_manager_client_path(client), class: "button is-primary"
