%section
  .head.level
    .level-left
      %h2= job.title
    .level-right
      =link_to "Back to all opportunities", client_opportunities_path, class: 'button pull-right top_right_button'
  %hr

  .box
    = render partial: 'shared/opportunities/common_job_details', locals: { opportunity: job }

  .box
    = job.long_description

  .box
    %h2 Register your interest
    = link_to "Register interest now", new_client_enquiry_path(opportunity_type: Job, opportunity_id: job.id), class: 'button is-primary'

