.column.is-10.is-offset-1
  %h3.subtitle Meeting arrangements
  %hr
  %p Please record the date your meeting

  = simple_form_for [@client, @meeting], url: advisor_client_meeting_path(client_id: @client.id, id: @meeting.id), method: :put do |form|

    = render 'shared/form_errors', object: form.object
    = render partial: 'form_fields', locals: {form: form}

    = form.submit I18n.t('clients.buttons.update'), :class => 'button is-primary'
