.column
  %h3.subtitle Meeting arrangements
  %hr

  = simple_form_for [client, meeting], url: advisor_client_meetings_path(client_id: client.id) do |form|

    = render partial: 'form_fields', locals: {form: form}

    .control
      = form.submit I18n.t('clients.buttons.save'), :class => 'button is-primary'
