.column.is-10-widescreen.is-offset-1-widescreen
  =button_to I18n.t('clients.buttons.new_action_plan_task'), new_advisor_client_action_plan_task_path(client), method: :get, class: "button is-primary is-small"

  .head.level
    .level-left
      %h2 Ongoing Actions
      %span
        =client.action_plan_tasks.ongoing.count

  - if client.action_plan_tasks.ongoing.any?
    %section
      %table.table
        %thead
          %tr
            %th Agreed Action
            %th Due Date
            %th Action for
            %th
        %tbody
          = render partial: 'ongoing_action', collection: client.action_plan_tasks.ongoing, as: 'action_plan_task'

  .head.level
    .level-left
      %h2 Completed Actions
      %span
        =client.action_plan_tasks.completed.count

  - if client.action_plan_tasks.completed.any?
    %section
      %table.table
        %thead
          %tr
            %th Agreed Action
            %th Completion Date
            %th Action for
            %th
        %tbody
          = render partial: 'completed_action', collection: client.action_plan_tasks.completed, as: 'action_plan_task'
