%h2
  ="#{client.name}'s Action Plan"

- client.action_plan_tasks.each do |task|
  %section.section
    %label.label
      Task
    %p
      = task.title
    %label.label
      Outcome
    %p
      = OutcomeOption.find(task.outcome).name
    %label.label
      Due date
    %p
      =task.due_date.to_date.to_s(:short)
    %label.label.notes
      Notes
    %p
      =task.notes
    %label.label
      Action to be completed by
    %p
      ?