.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle Thank you for registering with Hackney Works!

    %p Your personal advisor will be in touch shortly to arrange a meeting at one of our hubs.

    %br

    %p In the meantime, you can help us to understand more about you by completing your profile. You don’t have to do this but it helps our advisors to prepare for your meeting.

    = link_to "Meet the team", hubs_path, class: 'button is-primary'



