.column.is-half.is-offset-one-quarter.info-with-icon
  %h2.subtitle Thanks for registering.
  =image_tag('icons/email.svg', :alt => 'Email Icon')
  %h3 Check your email
  %p To confirm your identity you will soon receive an email with a link to create a password for your account.