.column.is-half.is-offset-one-quarter
  %h2.subtitle Thanks for registering.
  =image_tag('icons/email.svg', :alt => 'Email Icon')
  %h3 Check your email
  %p Before your first meeting, tell us about you, your goals and the kind of support you would like from the service.