.full-width.hero
  .container.columns
    .column.is-half.is-offset-one-quarter
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
      %h1 Find your opportunity
      %p We support Hackney residents looking for jobs, apprenticeships, training or volunteering.
      = link_to I18n.t('devise.buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary'
  .content
    .container.columns
      .column.is-half.is-offset-one-quarter
        If you are a Hackney resident and currently out of work or earning less than £18,000, our free service can help you.



  -#%p= link_to "Meet the team", hubs_path
  -# - unless user_login_signed_in?
    -# = link_to I18n.t('devise.buttons.register'), new_client_path, title: "Register for the Ways into Work service", class: 'button is-primary'

