.achievable-container{ 'class' => achievements.collect(&:name).include?(option.id) ? 'achieved' : '' }
  %a.show_achievement{ 'data-target-id' => option.id }
    
  .achievement{id: "achievement_#{option.id}"}
    = render partial: 'form', locals: { option: option }
