.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle Welcome to Hackney Works

    %p Thanks for taking the time to register. One of our advisors we will call you soon to organise a face to face visit at one of our hubs. That way we can get to know your needs and find the right opportunity for you.

    %p At your first visit we will need a couple of items from you:
    %ul
      %li Proof of national insurance number
      %li Proof of address (utility bill/bank statement, within the last 3 months)
      %li Photo ID (drivers licence or passport)
      %li CV if you have one.

    - unless current_client.profile_complete?
      %p If you have time it would help us get some more information. Please could you follow the link below and answer a couple more questions:

      =link_to I18n.t('clients.buttons.complete_profile'), edit_client_personal_traits_path, class: 'button is-primary'
    - else
      %p Thanks for giving us some more information. If you want to make any edits to your profile click the link below:

      = link_to I18n.t('clients.buttons.edit_profile'), edit_client_personal_traits_path, :class => "step button is-primary"

