---
http_interactions:
- request:
    method: get
    uri: https://mapit.mysociety.org/postcode/E58DA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Contenttype:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-gb
      X-Url:
      - "/postcode/E58DA"
      X-Quota-Limit:
      - '50'
      X-Quota-Current:
      - '8'
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 51.55602736423322, "coordsyst": "G", "shortcuts": {"WMC":
        65550, "ward": 144385, "council": 2508}, "wgs84_lon": -0.05626858236445784,
        "postcode": "E5 8DA", "easting": 534849, "areas": {"900000": {"parent_area":
        null, "generation_high": 19, "all_names": {}, "id": 900000, "codes": {}, "name":
        "House of Commons", "country": "", "type_name": "UK Parliament", "generation_low":
        1, "country_name": "-", "type": "WMP"}, "144385": {"parent_area": 2508, "generation_high":
        32, "all_names": {}, "id": 144385, "codes": {"gss": "E05009373", "unit_id":
        "11200"}, "name": "Hackney Downs", "country": "E", "type_name": "London borough
        ward", "generation_low": 22, "country_name": "England", "type": "LBW"}, "900002":
        {"parent_area": 900006, "generation_high": 32, "all_names": {}, "id": 900002,
        "codes": {}, "name": "London Assembly", "country": "E", "type_name": "London
        Assembly area (shared)", "generation_low": 1, "country_name": "England", "type":
        "LAE"}, "67907": {"parent_area": null, "generation_high": 32, "all_names":
        {}, "id": 67907, "codes": {"ons": "E01001766"}, "name": "Hackney 010C", "country":
        "E", "type_name": "2001 Lower Layer Super Output Area (Full)", "generation_low":
        13, "country_name": "England", "type": "OLF"}, "900006": {"parent_area": null,
        "generation_high": 32, "all_names": {}, "id": 900006, "codes": {}, "name":
        "London Assembly", "country": "E", "type_name": "London Assembly area", "generation_low":
        1, "country_name": "England", "type": "LAS"}, "2247": {"parent_area": null,
        "generation_high": 32, "all_names": {}, "id": 2247, "codes": {"unit_id": "41441"},
        "name": "Greater London Authority", "country": "E", "type_name": "Greater
        London Authority", "generation_low": 1, "country_name": "England", "type":
        "GLA"}, "2508": {"parent_area": null, "generation_high": 32, "all_names":
        {}, "id": 2508, "codes": {"ons": "00AM", "gss": "E09000012", "unit_id": "11199",
        "local-authority-eng": "HCK"}, "name": "Hackney Borough Council", "country":
        "E", "type_name": "London borough", "generation_low": 1, "country_name": "England",
        "type": "LBO"}, "102285": {"parent_area": null, "generation_high": 32, "all_names":
        {}, "id": 102285, "codes": {"ons": "E01001766"}, "name": "Hackney 010C", "country":
        "E", "type_name": "2001 Lower Layer Super Output Area (Generalised)", "generation_low":
        13, "country_name": "England", "type": "OLG"}, "65550": {"parent_[...]
