%tr[client]
  - if client.deleted?
    %td= client.name
  - else
    %td=link_to client.name, edit_advisor_client_path(client)
  %td=client.last_meeting_or_contact
  %td=client.advisor&.name
  %td
    %i.fa.fa-circle{class: client.rag_status}
  %td=client.enquiries.awaiting.count
  %td.has-text-right
    - if client.deleted?
      = button_to I18n.t('clients.buttons.restore_client'), advisor_restore_client_path(client_id: client.id), method: :put, class: "button is-small is-primary button_inline"
      - if current_advisor.admin?
        = button_to I18n.t('clients.buttons.anonymise_client'), advisor_anonymise_client_path(client_id: client.id), method: :put, class: "button is-small is-danger button_inline", data: { confirm: "Are you sure? This will delete ALL the client's personally identifiable data." }
    -else
      =button_to 'View details', edit_advisor_client_path(client), method: :get, class: "button is-small"
