-if client.file_uploads.any?
  %p Latest upload:
  %p=link_to client.file_uploads.first.attachment_file_name, client.file_uploads.first.attachment.try(:url), title: client.file_uploads.first.attachment_file_name, target: :blank
  %p="Uploaded by: #{client.file_uploads.first.uploaded_by} on #{client.file_uploads.first.created_at.to_date.to_s(:short)}"
  =client.new_file_button(I18n.t('clients.buttons.manage_uploads'))
-else
  %p.bold
    = t('clients.onboarding.employment.upload')
  =client.new_file_button(I18n.t('clients.buttons.upload_cv'))
