%h3
  = t('client.tab_a.tab_2')

.convert_checkbox
  =form.input :personal_traits, as: :check_boxes, collection: PersonalTraitOption.all, :label => 'Which words best describe you?', include_hidden: false
  = render partial: 'shared/other_text', locals: {form: form, field: :other_personal_trait}
%br

= render partial: 'shared/assessment_note', locals: {form: form, note: @strengths_notes, label: 'What are your strengths?', type: :text }

= render partial: 'shared/assessment_note', locals: {form: form, note: @get_better_at_notes, label: 'What would you like to get better at?', type: :text }
