%h3 Contact details
  
=form.input :email, as: :email, :input_html => { :class => 'input' }
=form.input :phone, as: :tel, :input_html => { :class => 'input' }

=form.input :address_line_1, as: :string, :input_html => { :class => 'input' }
=form.input :address_line_2, as: :string, :input_html => { :class => 'input' }
=form.input :postcode, as: :string, :input_html => { :class => 'input' }
