%h3
  = t('client.tab_a.tab_8')

%p= t('client.tab_a.tab_8_about')

.convert_radio.field
  =form.input :gender, as: :radio_buttons, collection: ['Male', 'Female', 'Prefer not to say'], :label => 'Gender:'
  .convert_checkbox= render partial: 'shared/other_text', locals: {form: form, field: :other_gender}

.convert_radio.field
  =form.input :bame, as: :radio_buttons, collection: BameOption.all, label: 'Ethnicity', include_hidden: false
  .convert_checkbox= render partial: 'shared/other_text', locals: { form: form, field: :other_bame }

=form.input :health_condition, as: :radio_buttons, collection: ['Yes', 'No', 'Prefer not to say'], :label => 'Do you have a mental or physical health condition that affects your ability to do normal daily activities?', wrapper_html: { class: "convert_radio" }


=form.input :care_leaver, as: :radio_buttons, collection: ['Yes', 'No', 'Prefer not to say'], :label => 'Are you a care leaver?', wrapper_html: { class: "convert_radio" }
