%h3 Additional details

.convert_radio
  =form.input :gender, as: :radio_buttons, collection: ['Male', 'Female'], :label => 'Gender:'
  .convert_checkbox= render partial: 'shared/other_text', locals: {form: form, field: :other_gender}

=form.input :receive_benefits, as: :radio_buttons, :label => 'Are you recieving any benefits?', wrapper_html: { class: "convert_radio" }

=form.input :care_leaver, as: :radio_buttons, :label => 'Have you recently left care?', wrapper_html: { class: "convert_radio" }

=form.input :has_children, as: :radio_buttons, :label => 'Do you have any children?', wrapper_html: { class: "convert_radio has_child" }

.is-hidden.on-true
  =form.input :lone_parent, as: :radio_buttons, :label => 'Are you a single parent?', :wrapper_html => { class: 'convert_radio' }
