%h3 Employment

=form.input :employed, as: :radio_buttons, :label => 'Are you currently employed?', wrapper_html: { class: "convert_radio has_child" }

.is-hidden.on-true
  =form.input :job_title, as: :string, :label => 'What is your current job title?', :input_html => { :class => 'input' }
  =form.input :working_hours_per_week, as: :integer, :label => 'How many hours per week do you currently work?', :input_html => { :class => 'input' }

= render partial: 'assessment_note', locals: {form: form, note: @work_experience_notes, label: 'Details of past work experience', type: :text }

.convert_checkbox.full.field
  =form.input :funded, as: :check_boxes, collection: FundedOption.all, :label => 'Are you being funded by any of the following funding streams?'
  = render partial: 'shared/other_text', locals: {form: form, field: :other_qualification}

= render partial: '/shared/latest_file_upload'
