%h3
  = t('client.tab_a.tab_7')

=form.input :rag_status, as: :radio_buttons, label: 'Assessment status:', collection: [["Red",:red], ["Amber", :amber], ["Green", :green]], wrapper_html: { class: "convert_radio" }

.convert_checkbox.full.field
  =form.input :funded, as: :check_boxes, collection: FundedOption.all, :label => 'Funding Code (Project managers to complete):'
  = render partial: 'shared/other_text', locals: {form: form, field: :other_qualification}

=form.input :assigned_supported_employment, as: :radio_buttons, :label => 'Is the client assigned to supported employment?', wrapper_html: { class: "convert_radio" }

= render partial: 'assessment_note', locals: {form: form, note: @additional_info_notes, label: 'Advisor notes', type: :text }
%label.label Additional File Uploads
=client.new_file_button(I18n.t('clients.buttons.upload'))

%br
%br
=link_to I18n.t('clients.buttons.archive_client'), advisor_client_path(client), method: :delete, class: "button is-danger is-small is-pulled-right"
