%h3 Notes

= form.simple_fields_for :assessment_notes, @general_notes  do |notes_form|
  =notes_form.input :content, label: 'General', :input_html => { :class => "textarea" }
  =notes_form.input :content_key, as: :hidden

=form.input :rag_status, as: :radio_buttons, label: 'Assessment status:', collection: [["Red",:red], ["Amber", :amber], ["Green", :green]], wrapper_html: { class: "convert_radio" }
