%h3
  = t('client.tab_a.tab_9')

=form.input :first_name, as: :string, :input_html => { :class => 'input' }
=form.input :last_name, as: :string, :input_html => { :class => 'input' }

= form.input :date_of_birth, as: :string, label: 'DOB', input_html: {type: :date, class: 'input', value: form.object.try(:date_of_birth).try(:to_date)}, placeholder: "dd/mm/yyyy"

.convert_checkbox.field
  = form.input :preferred_contact_methods, as: :check_boxes, collection: ContactMethodOption.all, include_hidden: false

=form.input :email, as: :email, :input_html => { :class => 'input' }
=form.input :phone, as: :tel, :input_html => { :class => 'input' }

=form.input :address_line_1, as: :string, :input_html => { :class => 'input' }
=form.input :address_line_2, as: :string, :input_html => { :class => 'input' }
=form.input :postcode, as: :string, :input_html => { :class => 'input' }

=form.input :national_insurance_number, label: 'National Insurance Number', as: :tel, :input_html => { :class => 'input' }
