%h3 Support

.convert_checkbox
  =form.input :objectives, as: :check_boxes, collection: ObjectiveOption.all, :label => 'What would you like to discuss with us?', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_objective }

%br
.convert_checkbox
  =form.input :support_priorities, as: :check_boxes, collection: SupportOption.all, :label => 'What would you like support with?', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_support_priority }

%br
.convert_checkbox
  =form.input :types_of_work, as: :check_boxes, collection: TypeOfWorkOption.all, :label => 'What types of work are you looking for?', include_hidden: false

  = render partial: 'shared/other_text', locals: { form: form, field: :other_type_of_work }
