%h3
  = t('client.tab_a.tab_9')

=form.input :first_name, as: :string, :input_html => { :class => 'input' }
=form.input :last_name, as: :string, :input_html => { :class => 'input' }

=form.input :email, as: :email, :input_html => { :class => 'input' }
=form.input :phone, as: :tel, :input_html => { :class => 'input' }

=form.input :address_line_1, as: :string, :input_html => { :class => 'input' }
=form.input :address_line_2, as: :string, :input_html => { :class => 'input' }
=form.input :postcode, as: :string, :input_html => { :class => 'input' }
