#all_clients.column.is-10.is-offset-1
  .head.columns.level
    .level-left.column
      %h2 All Clients
      %span.client_total="#{@clients.count} Total"

  -if Client.any?
    %table.table
      %thead
        %tr
          %th Client
          %th Registered
          %th Advisor
          %th
      %tbody
        = render partial: 'client', collection: @clients, as: 'client'
  - else
    %h4=I18n.t('advisors.headers.no_clients_yet')
    =link_to I18n.t('buttons.my_clients'), advisor_my_clients_path, class: 'button is-primary'
