---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/sms
    body:
      encoding: UTF-8
      string: '{"phone_number":"+447557286509","template_id":"70f6abd0-5831-42b1-b8b4-5c749ef30de1","personalisation":{"first_name":"Clayton","advisor_name":"Milagros
        Mann","location_and_time":"The bestest hub, A High Road, E9 6AS Tuesday 6th
        February at 3:10am","contact_url":"http://localhost:3000/hubs"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI0ZGMyMjExMy1mYzUxLTQxZWMtYjczZC1kMjUxNTVkODJmZmYiLCJpYXQiOjE1MTc4Nzk0MTN9.HluFHtqypbX62OcnBnA_aFrVB5QcHoeZ3_YpaHDpAAc
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Notifyrequestid:
      - be7c2fbf-c7bf-4095-9b4e-4347e8fa62d4
      X-Vcap-Request-Id:
      - 86b213e5-d50e-4313-4989-3ef474edbd13
    body:
      encoding: UTF-8
      string: "{\n  \"content\": {\n    \"body\": \"Hello Clayton. Reminder about
        your meeting with Milagros Mann at The bestest hub, A High Road, E9 6AS Tuesday
        6th February at 3:10am. See http://localhost:3000/hubs for contact details.\",
        \n    \"from_number\": \"GOVUK\"\n  }, \n  \"id\": \"04aba2ab-8a9d-43c0-b4d5-d40b13921c2d\",
        \n  \"reference\": null, \n  \"scheduled_for\": null, \n  \"template\": {\n
        \   \"id\": \"70f6abd0-5831-42b1-b8b4-5c749ef30de1\", \n    \"uri\": \"https://api.notifications.service.gov.uk/services/4dc22113-fc51-41ec-b73d-d25155d82fff/templates/70f6abd0-5831-42b1-b8b4-5c749ef30de1\",
        \n    \"version\": 1\n  }, \n  \"uri\": \"https://api.notifications.service.gov.uk/v2/notifications/04aba2ab-8a9d-43c0-b4d5-d40b13921c2d\"\n}\n"
  recorded_at: Tue, 06 Feb 2018 01:10:13 GMT
recorded_with: VCR 4.0.0
