#tabs.container
  .column
    .head.level
      %h3 Add Advisor
    
    = simple_form_for [:admin, advisor], url: advisor_advisor_index_path do |form|
      = render partial: 'form_fields', locals: {form: form}

    
