%hr/
%p
  You are receiving this message because your email has been registered as a part of the Hackney Works team.
  To remove yourself from this mailing list, you can
  = link_to 'unsubscribe from all emails', "<%asm_preferences_raw_url%>".html_safe
%p
  This site was built in partnership with Futuregov. For more details on what data we store and why see their #{link_to('Terms and Privacy Policy', 'https://www.wearefuturegov.com/products/data_protection')}.
