%br/
%p
  You are receiving this message because your email has been registered on the Hackney Works website.
  To remove yourself from this mailing list, you can
  = link_to 'unsubscribe from all emails', '<%asm_preferences_raw_url%>'
