%br/
%p="You are receiving this message because your email has been registered on the Hackney Works website. To remove yourself from this mailing list, please send an email to: #{mail_to('hackneyworks@hackney.gov.uk')}".html_safe
