%br/
%p="You are receiving this message because your email has been registered as a part of the Ways into Work team. To remove yourself from this mailing list, please send an email to: #{mail_to('unsubscribe@example.com')}".html_safe
