#file_uploads
  -if @client.file_uploads.any?
    %table.table
      %thead
        %tr
          %th File name
          %th Uploaded by
          %th Date Uploaded
          %th
      %tbody
        = render partial: 'shared/file_upload', collection: @client.file_uploads
    =@client.new_file_button(I18n.t('clients.buttons.upload_another_cv'))
  -else
    %p.bold No CV uploaded yet. Upload a CV even if it's in draft form
    =@client.new_file_button
