-if client.file_uploads.any?
  %p Latest CV upload:
  %p=link_to client.file_uploads.first.attachment_file_name, client.file_uploads.first.attachment.try(:url), title: client.file_uploads.first.attachment_file_name, target: :blank
  %p="Uploaded by: #{client.file_uploads.first.uploaded_by} on #{client.file_uploads.first.created_at.to_date.to_s(:short)}"
-else
  %p.bold No CV uploaded yet. Upload a CV even if it's in draft form

- if client.file_uploads.count == 0
  =client.new_file_button_first
- else
  =client.new_file_button
