= label_tag I18n.t('clients.personal_trait.other')
= check_box_tag 'Other', 0, false, id: 'toggle_other'
= form.input field, as: :string, label: false, wrapper_html: {class: 'is-hidden', id: 'other_text'}
