.columns
  .column
    =form.input :first_name, as: :string, :input_html => { :class => 'input' }
  .column
    =form.input :last_name, as: :string, :input_html => { :class => 'input' }

.columns
  .column
    =form.simple_fields_for :login do |login_form|
      =login_form.input :email, :required => true, as: :email, :input_html => { :class => 'input' }
  .column
    =form.input :phone, as: :tel, :input_html => { :class => 'input' }

.convert_checkbox.field
  = form.input :preferred_contact_methods, as: :check_boxes, collection: ContactMethodOption.all, include_hidden: false

.columns
  .column
    =form.input :address_line_1, as: :string, :input_html => { :class => 'input' }
  .column
    =form.input :address_line_2, as: :string, :input_html => { :class => 'input' }
  .column
    =form.input :postcode, as: :string, :input_html => { :class => 'input' }

= render partial: 'shared/assessment_note', locals: {form: form, note: client.assessment_notes.find_or_initialize_by(content_key: :additional_info), label: 'Anything else we should know?', type: :text }
