.columns
  .column
    =form.input :first_name, as: :string, :input_html => { :class => 'input' }
  .column
    =form.input :last_name, as: :string, :input_html => { :class => 'input' }

.columns
  .column
    =form.simple_fields_for :login do |login_form|
      =login_form.input :email, :required => true, as: :email, :input_html => { :class => 'input' }
  .column
    =form.input :phone, as: :tel, :input_html => { :class => 'input' }

= form.input :preferred_contact_method, as: :radio_buttons, collection: ContactMethodOption.all, wrapper_html: { class: "convert_radio" }

.columns
  .column
    =form.input :address_line_1, as: :string, :input_html => { :class => 'input' }
  .column
    =form.input :address_line_2, as: :string, :input_html => { :class => 'input' }
  .column
    =form.input :postcode, as: :string, :input_html => { :class => 'input' }
