.container.content.columns
  .column.is-10.is-offset-1
    = simple_form_for [@client] do |form|

      %fieldset
        %h3.subtitle Register for the service
        %hr
        %p Please complete the details below. Once you have registered, you will receive an email to verify your account.

        = render 'shared/form_errors', object: form.object
        .columns
          .column
            =form.input :first_name, as: :string, :input_html => { :class => 'input' }
          .column
            =form.input :last_name, as: :string, :input_html => { :class => 'input' }

        / =form.input :date_of_birth, as: :date, start_year: Date.today.year - 70, end_year: Date.today.year - 14, :wrapper_html => { :class => 'with_multi_select' }, date_separator: '<span class="select"></span>', prompt: 'select'
        .columns
          .column
            =form.simple_fields_for :login do |login_form|
              =login_form.input :email, :required => true, as: :email, :input_html => { :class => 'input' }
          .column
            =form.input :phone, as: :tel, :input_html => { :class => 'input' }

        =form.input :address_line_1, as: :string, :input_html => { :class => 'input' }
        =form.input :address_line_2, as: :string, :input_html => { :class => 'input' }
        =form.input :postcode, as: :string, :input_html => { :class => 'input' }

        =form.input :date_of_birth, as: :date, start_year: Date.today.year - 70, end_year: Date.today.year - 14, :wrapper_html => { :class => 'with_multi_select' }, date_separator: '<span class="select"></span>', prompt: 'Select'

      = form.submit 'Register', :class => 'button is-primary'
