%tr[client]
  %td.third=link_to client.name, edit_advisor_client_path(client)
  %td.quarter
    =client.created_at.to_date.to_s(:short)
    %span.bold.is-hidden-touch=number_of_days_waiting(client.created_at.to_date)
  %td.one-sixth
    ="#{pluralize(client.contact_notes_count, 'time')}"
  %td.one-eigth
    =client.contact_notes.last.try(:contact_date)
  %td.has-text-right.one-tenth=button_to I18n.t('clients.buttons.make_contact'), new_advisor_client_contact_note_path(client), method: :get, class: "button is-primary is-small"
