%tr[client]
  %td=link_to client.name, edit_advisor_client_path(client)
  %td.has-text-centered
    ="Registered: #{client.created_at.to_date.to_s(:short)}"
    %span.bold=number_of_days_waiting(client.created_at.to_date)
  %td.has-text-centered=client.phone_number
  %td.has-text-right=button_to I18n.t('clients.buttons.arrange_first_meeting'), new_advisor_client_meeting_path(client), method: :get, class: "button is-primary is-small"
