%tr[client]
  - if client.deleted?
    %td= client.name
  - else
    %td=link_to client.name, edit_advisor_client_path(client)
  %td=client.next_meeting_date&.to_date&.to_s(:long)
  %td=client.last_meeting_or_contact&.to_date&.to_s(:long)
  %td
    %i.fa.fa-circle{class: client.rag_status}
  %td.has-text-right
    - if client.deleted?
      = button_to I18n.t('clients.buttons.restore_client'), advisor_restore_client_path(client_id: client.id), method: :put, class: "button is-small"
    -else
      =button_to 'View details', edit_advisor_client_path(client), method: :get, class: "button is-small"

