#your_clients.column.is-10.is-offset-1
  .head.columns.level
    .level-left.column
      %h2 Your Clients
      %span.client_total="#{current_advisor.clients.count} Total"

  -if @clients_needing_appointment.any?
    %section#clients_needing_appointment.hero.is-fullwidth.section
      .container.content.columns
        .column.is-10.is-offset-1
          %h4
            ="View #{pluralize(@clients_needing_appointment.count, 'client')} that still require initial contact"
            %i.fa.fa-chevron-down
          #hidden-section
            %table.table
              %tbody
                = render partial: 'needing_appointment', collection: @clients_needing_appointment, as: 'client'

  - if @clients_with_initial_appointment.any?
    #clients_with_initial_appointment
      %table.table
        %thead
          %tr
            %th Client
            %th Meeting date
            %th Date Created
            %th
        %tbody
          = render partial: 'with_meeting', collection: @clients_with_initial_appointment, as: 'client'

  - unless current_advisor.clients.any?
    %h4=I18n.t('advisors.headers.no_clients')
    =link_to I18n.t('buttons.all_clients'), :advisor_clients
