.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle Welcome to Ways Into Work

    %p If you are looking for a job and need support, Hackney Ways into Work can help. Ways into Work will get to know you and what kind of job you are looking for. By working together, you and the Ways into Work advisors can make a plan to achieve your goals.

    - unless user_login_signed_in?
      = link_to I18n.t('devise.buttons.register'), confirm_eligibility_path, title: "Register for the Ways into Work service", class: 'button is-primary'
