.full-width.info
  .container.columns
    .column.is-half.is-offset-one-quarter
      %p.lead Welcome to Hackney Opportunities
      %p Do you want to learn new skills, get experience in the workplace, start your career or find a new job? Whatever your goal, Hackney Council provides a range of programmes and services to help you reach your potential.
      %p To find out more about the support and opportunities available, follow the links below.

.services
  .columns
    %a.column.works{:href => "/hackney_works"}
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
      %p If you are unemployed or on a low income, the council’s employment support service can help you to find work or get a better job.
      .button Hackney Works
    %a.column.hundred{:href => "https://www.hackney.gov.uk/apprenticeships"}
      =image_tag('hackney-100-white.svg', :alt => 'Hackney 100')
      %p The council and its partners offer a range of high quality opportunities to help you take the first step in your career.
      .button Hackney 100

  .columns
    %a.column.apprentices{:href => "https://www.hackney.gov.uk/hackney100 "}
      =image_tag('hackney-apprentices-white.svg', :alt => 'Hackney Apprentices')
      %p If you’re aged 16-19 and passionate about success, you could be one of the Hackney 100, doing a paid work placement in a local businesses.
      .button Hackney Apprentices
    %a.column.support{:href => " https://www.learningtrust.co.uk/AdultLearning/Pages/Information,%20Advice%20and%20Guidance.aspx"}
      =image_tag('hackney_learning_trust.png', :alt => 'Hackney Learning Trust')
      %p The Adult Learning Service provides a range of courses to help you learn new skills. Course include English, Maths, ICT, ESOL and vocational training.
      .button Adult Learning Service
