%p Hello #{@user_login.name},

%p Thank you for registering with our service! Your personal advisor be in touch within two 2 working days to arrange a meeting at one of our hubs.

%p
  %b For the first meeting please bring:
  %ul
    %li Photo ID, e.g. passport or driving license
    %li Your CV if you have one - don't worry if you don't!

%p
  %b Complete your profile
  \ Use the link below to create an account and start building your profile. You don’t have to do this but it helps our advisors to prepare for your meeting.

%p= link_to 'Get Started', @url

Thanks,
The Hackney Works Team

%p If you didn't request this, please ignore this email.

= render partial: 'shared/email_signature'
