%p Hello #{@user_login.name}!

%p Thank you for registering with our service! Your personal advisor will be in touch shortly to arrange a meeting at one of our hubs. You should hear from us within two working days.

%p In the meantime, it would be helpful to know some more about you. Use the link below to create an account and start building your profile. You don’t have to do this but it helps our advisors to prepare for your meeting.

%p= link_to 'Create your account', @url

%p If you didn't request this, please ignore this email.

= render partial: 'shared/email_signature'
