.full-width.hero
  .bg_img
    =image_tag('dalston-red.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-100-white.svg', :alt => 'Hackney 100')
    .column.is-two-thirds
      %h1 Are you aged 16-19 and passionate about success?
      %p Are you interested in technology, fashion, media, financial services or hospitality?
      %p.bold Do you want to earn money outside school hours, while building up your CV?
      %p The Council are working with Inspire! to create 100 work placements for young people in exciting businesses in Hackney.
  .lines

%br
%br

.container
  .sup_page_content.max_restrict
    %h2 The placement
    %p Placements will last for a minimum of 70 hours. This can be completed in two weeks (working full time) or spread over a longer period, up to 6 months, to fit around your schedule.

    %p You will be paid the maximum national minimum wage, which is currently £7.50 per hour. That's money that you can use to enjoy yourself or save for your future.

    %br

    %h3 What you'll be doing
    %p Whatever your employer asks you to do. You'll be expected to pitch in as part of the team in the workplace, and you'll be given a business mentor from the company to work with, to help you get the most out of the opportunity. You'll be expected to be reliable, punctual and professional.

  .points
    %h3 What we offer
    .columns
      .column.point
        =fa_icon "building"
        %p Find out more about local businesses
      .column.point
        =fa_icon "gbp"
        %p Get paid a good wage
      .column.point
        =fa_icon "pencil"
        %p Improve your CV
      .column.point
        =fa_icon "briefcase"
        %p Get valuable hands on experience

  .sup_page_content.max_restrict
    %h3 How we'll choose the Hackney 100
    %p All applications will be looked at by the Hackney 100 team who are very experienced at matching people with job opportunities.

    %br

    %h3 What we are looking for
    %p The successful candidates will be those who can show they have what it takes to make the most of this opportunity.
    %p To apply visit the Inspire website:
    .center-text.bold
      =link_to "Apply now", "http://www.inspire-ebp.org.uk/hackney100.html", target: "_blank", class: "button is-primary"



%br
%br

.container
  .sup_page_content.max_restrict
    %h2 Are you an Employer?
    %p
      If you'd like to find out more about how your business can get involved,
      =link_to "see our information for employers page.", employers_information_path

