.full-width.hero
  .bg_img
    =image_tag('dalston.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-100-white.svg', :alt => 'Hackney Works')
    .column.is-two-thirds
      %h1=t('hackney_works.apprenticeships.hero.title')
      %p=t('hackney_works.apprenticeships.hero.info')
      %p=t('hackney_works.apprenticeships.hero.extra')
  .lines

.container.info_block.columns
  .column.is-one-third
    photo
  .column.is-two-thirds
    %h2=t('hackney_works.apprenticeships.internal_about.title')

    %p=t('hackney_works.apprenticeships.internal_about.content').html_safe

    .bold= link_to I18n.t('buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary'

.white_block.full-width
  .container
    .hackneys_apprentice.max_restrict
      %h2 Apprenticeships at Hackney Council
      %p.bold We all have potential. Hackney Apprentices reach theirs sooner
      %p There are more than 80 apprentices at the council. They work in lots of different areas including Housing, ICT, Plumbing/Electrical, Administration, Youth Work and Finance. Our apprenticeships are at Levels 2, 3 and 4 and usually last around 18 months.

      %p
        We recruit regularly throughout the year and will have a big recruitment campaign in the summer.
        =link_to "To see any current vacancies click here.", "https://hackney.gov.uk/apprenticeships", target: "_blank"
    .points
      %h3 What we offer
      = link_to new_client_path, class: 'not_a_link' do
        .columns
          .column.point
            =fa_icon "gbp"
            %p A competitive salary.
          .column.point
            =fa_icon "leanpub"
            %p High quality training.
          .column.point
            =fa_icon "calendar"
            %p Social events with other apprentices across the council.
          .column.point
            =fa_icon "briefcase"
            %p Support to find a job once your training ends.
    .hackneys_apprentice.max_restrict
      %h3 Who can apply?
      %p You can apply for our apprenticeships if you’re 16-24 and you live in Hackney or went to a Hackney school or college.
      %p You can also apply if Hackney Council is your corporate parent, i.e. if you are or were in care.

#newsletter.container
  %h2=t('hackney_works.apprenticeships.newsletter.title')
  %p.about=t('hackney_works.apprenticeships.newsletter.about')
  .email_subscribe
    %form#mc-embedded-subscribe-form.validate{:action => "https://hackney.us17.list-manage.com/subscribe/post?u=33d75b080fe55e7a52dfa61c1&id=fbc373ca9e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      #mc_embed_signup_scroll
        %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Add your email...", :required => "", :type => "email", :value => "", class: 'input'}/
        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
          %input{:name => "b_33d75b080fe55e7a52dfa61c1_fbc373ca9e", :tabindex => "-1", :type => "text", :value => ""}/
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe", class: 'is-primary'}/
%br
%br
.container
  .hackneys_apprentice.max_restrict
    %h2 More Information
    %p
      If you have any questions, you can contact the team at
      =mail_to "apprenticeships@hackney.gov.uk"
      or use the links below.
    %p
      For advice and guidance about apprenticeships, see:
      %br
      =link_to "National Apprenticeship Service", "https://www.gov.uk/topic/further-education-skills/apprenticeships", target: '_blank'
      %br
      =link_to "All about school leavers", "https://www.allaboutschoolleavers.co.uk/school-leaver-options/apprenticeships-advice", target: '_blank'

    %p
      To search for apprenticeship vacancies across England, use the
      =link_to "find an apprenticeship service.", "https://www.gov.uk/apply-apprenticeship", target: '_blank'

%br
%br
.container
  .hackneys_apprentice.max_restrict
    %h2 Information for Employers
    %p
      If you’re interested in finding out more about apprenticeships and how they could work for your organisation,
      =link_to "see our information for employers page.", employers_information_path

