-if hub.longitude.present?
  .box
    %h2= hub.name
    %p=hub.address_to_s
    %p Team leader: #{(hub.team_leader.name)}
    .columns
      .map.column.is-two-thirds{id: "hub_map_#{hub.id}"}
      .image.column.is-one-third{id: "hub_staff_#{hub.id}"}
