-if hub.longitude.present?
  .box.hub
    %h2= hub.name
    %p=hub.address_to_s
    %p Manager: #{(hub.team_leader.name)}
    .columns
      .map.column.is-two-thirds{id: "hub_map_#{hub.id}", 'data-lat' => hub.latitude, 'data-lng' => hub.longitude, 'data-name' => hub.name, 'data-street' => hub.address_line_1 }
      .image.column.is-one-third{id: "hub_staff_#{hub.id}"}
