.column
  %h3 
    = t('hackney_works.hubs.title')
  %br
  #hubs= render partial: 'hub', collection: Hub.all

  .box.top.hubs
    %p
      = t('hackney_works.hubs.info')
    %p
      = t('hackney_works.hubs.extra')
    %p=mail_to 'hackneyworks@hackney.gov.uk'
