.column.is-10.is-offset-1
  %h3 Hackney advisors in your area
  %br
  = render partial: 'hub', collection: Hub.all

  %p If you would like to contact us you can reach us on:
  %p 0208 356 5700
  %p=mail_to 'waysintowork@hackney.gov.uk'
