.column
  %h3 Hackney advisors in your area
  %br
  #hubs= render partial: 'hub', collection: Hub.all

  .box.top.hubs
    %p If you would like to contact the Hackney Works team, you can reach us on:
    %p 0208 356 5700
    %p=mail_to 'hackneyworks@hackney.gov.uk'
