---
http_interactions:
- request:
    method: get
    uri: https://mapit.mysociety.org/postcode/N176QD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Contenttype:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-gb
      X-Url:
      - "/postcode/N176QD"
      X-Quota-Limit:
      - '50'
      X-Quota-Current:
      - '12'
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 51.59191194936377, "coordsyst": "G", "shortcuts": {"WMC":
        66074, "ward": 8676, "council": 2509}, "wgs84_lon": -0.07125311521010042,
        "postcode": "N17 6QD", "easting": 533705, "areas": {"900000": {"parent_area":
        null, "generation_high": 19, "all_names": {}, "id": 900000, "codes": {}, "name":
        "House of Commons", "country": "", "type_name": "UK Parliament", "generation_low":
        1, "country_name": "-", "type": "WMP"}, "148897": {"parent_area": null, "generation_high":
        32, "all_names": {}, "id": 148897, "codes": {"nhse": "08D"}, "name": "Haringey",
        "country": "E", "type_name": "Clinical Commissioning Group", "generation_low":
        29, "country_name": "England", "type": "CCG"}, "102498": {"parent_area": null,
        "generation_high": 32, "all_names": {}, "id": 102498, "codes": {"ons": "E01001979"},
        "name": "Haringey 011D", "country": "E", "type_name": "2001 Lower Layer Super
        Output Area (Generalised)", "generation_low": 13, "country_name": "England",
        "type": "OLG"}, "8676": {"parent_area": 2509, "generation_high": 32, "all_names":
        {}, "id": 8676, "codes": {"ons": "00APGC", "gss": "E05000268", "unit_id":
        "11289"}, "name": "Bruce Grove", "country": "E", "type_name": "London borough
        ward", "generation_low": 1, "country_name": "England", "type": "LBW"}, "900006":
        {"parent_area": null, "generation_high": 32, "all_names": {}, "id": 900006,
        "codes": {}, "name": "London Assembly", "country": "E", "type_name": "London
        Assembly area", "generation_low": 1, "country_name": "England", "type": "LAS"},
        "2247": {"parent_area": null, "generation_high": 32, "all_names": {}, "id":
        2247, "codes": {"unit_id": "41441"}, "name": "Greater London Authority", "country":
        "E", "type_name": "Greater London Authority", "generation_low": 1, "country_name":
        "England", "type": "GLA"}, "41480": {"parent_area": null, "generation_high":
        32, "all_names": {}, "id": 41480, "codes": {"ons": "E02000407"}, "name": "Haringey
        011", "country": "E", "type_name": "2001 Middle Layer Super Output Area (Generalised)",
        "generation_low": 13, "country_name": "England", "type": "OMG"}, "2509": {"parent_area":
        null, "generation_high": 32, "all_names": {}, "id": 2509, "codes": {"ons":
        "00AP", "gss": "E09000014", "local-authority-eng": "HRY", "unit_id": "11290"},
        "name": "Haringey Borough Council", "country": "E", "type_name": "London borough",
        "generation_low": 1, "country_name": "England", "type": "LBO"}, "34286": {"parent_area":
        null, "generation_high": 32, "all_names": {}, "id": 34286, "codes": {"ons":
        "E02000407"}, "name": "Haringey 011", "country": "E", "type_name": "2001 Middle
        Layer Super Output Area (Full)", "generation_low": 13, "country_name": "England",
        "type": "OMF"[...]
