footer
  .container
    padding: 3em auto 2em auto
  .line, .logo
    padding-left: 0
    padding-right: 0
  .line
    img
      height: 1em
      margin-top: 0.5em
  .logo 
    text-align: right
    img
      height: 2em
  .lines
    height: 1em
    background: url("hackney-lines.png")
    background-size: contain