.header, .site-header, header
  // background-color: $background

.nav-item a.is-brand, a.nav-item.is-brand
  padding-left: 1.5rem

@media screen and (min-width: $desktop)
  .nav-item a.is-brand, a.nav-item.is-brand
    padding-left: 0

.nav-menu
  .button_to
    input
      +mobile
        width: 100%
