#main-site-wrapper .site-header
  .lines
    display: block
    width: 100%
    height: 1em
    background-image: url("hackney-lines-teal.png")
    background-size: contain

.header, .site-header, header
  background-color: $white

.nav-left
  padding-top: 4px

.nav-item a.is-brand, a.nav-item.is-brand
  padding-left: 1.5rem
  text-transform: uppercase
  color: black

@media screen and (min-width: $desktop)
  .nav-item a.is-brand, a.nav-item.is-brand
    padding-left: 0

.nav-menu
  .button_to
    input
      +mobile
        width: 100%