.container.content.has-text-centered
  = render partial: 'shared/profile_steps', locals: { current_step: 2 }
.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle=I18n.t('clients.steps.step_2.long')

    = simple_form_for [current_client], url: :client_employment_status do |form|
      = render 'shared/form_errors', object: form.object
      .convert_checkbox.single_option
        =form.input :time_since_last_job, as: :check_boxes, collection: OutOfWorkOption.all, :label => 'How long have you been out of work for?'

      .actions
        = form.submit 'Next', :class => 'button is-primary'

