.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle Tell us a little about yourself

    %p Which of these best describes your situation?

    = simple_form_for [current_client], url: :client_personal_traits do |form|
      %field_set
        =form.input :employment_status, as: :check_boxes, collection: EmploymentStatusOption.all

      %fieldset
        = form.submit 'Next', :class => 'button is-primary'

