#all_opportunities
  .head.level
    .level-left
      %h2 Active opportunities
      %span.client_total#filtered_count
        %span.bold=pluralize(@opportunities.count, ' active opportunity')
    .level-right.home
      = link_to "Add new Opportunity", new_advisor_opportunity_path, class: "button"

  %br
  .container
    .opportunity_list.columns.is-multiline
      - @opportunities.each do |opportunity|
        .single_opportunity.column.is-one-third.job_opp
          .box
            .opportunity_title
              = link_to opportunity.title, "#"
            .salary.bold
              = opportunity.salary
            %p.description
              = opportunity.short_description
            %p.end_date
              %span.bold Closing date:
              =opp_end_date(opportunity.end_date)
            .tag
              Job
