%section
  .head.level
    .level-left
      %h2= "Add a new opportunity"
    .level-right
      =link_to "Back to all opportunities", advisor_opportunities_path, class: 'button pull-right top_right_button'
  %hr

  = link_to "Job", new_advisor_job_path
  = link_to "External Apprenticeship", new_advisor_external_apprenticeship_path
