.full-width.hero
  .bg_img
    =image_tag('apprentice_hero.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-apprentices-white.svg', :alt => 'Hackney Apprenticeships')
    .column.is-two-thirds
      %h1=t('hackney_works.apprenticeships.hero.title')
      %p=t('hackney_works.apprenticeships.hero.info')
      %p=t('hackney_works.apprenticeships.hero.extra')
  .lines

%br
%br

.container
  .sup_page_content.max_restrict
    %h2 Apprenticeships at Hackney Council
    %p.bold Join an award-winning programme, and ‘earn while you learn’ with an apprenticeship at Hackney Council.

    %p An apprenticeship is a full time/part time job with at least 20% of your time spent studying. Apprenticeships last from one to four years, depending on the qualification you’re taking.

    %p There are more than 100 apprentices at the council. They work in lots of different areas, for example Housing, ICT, Trades, Business Administration, Youth Work, and Finance. Our apprenticeships are mainly at Levels 2, 3 and 4.

    %p
      We recruit three times a year and we have our main recruitment campaign in the summer.
      =link_to "See our current vacancies", opportunities_path(type: 'apprenticeships')

  .sup_page_content.max_restrict.youtube_cont
    %iframe.youtube{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/IfuP6dwv-SU?rel=0&showinfo=0", :width => "560"}
  .sup_page_content.max_restrict
    %p We were named the Top Public Sector Employer in the UK for apprentices at the 2018 and 2019 School Leaver Awards. This was based on the direct feedback from our apprentices about their experience on our programme.
    .award_banner
      =image_tag('award_2019.jpg')
    .award_banner
      =image_tag('award.jpg')

  .points
    %h3 What we offer
    .columns
      .column.point
        .icon_circle
          =fa_icon "gbp"
        %p A starting salary of
        up to £22,000
      .column.point
        .icon_circle
          =fa_icon "leanpub"
        %p High quality
        training
      .column.point
        .icon_circle
          =fa_icon "calendar"
        %p Activities with apprentices across the council
      .column.point
        .icon_circle
          =fa_icon "briefcase"
        %p Support to find a job once your training ends
  .sup_page_content.max_restrict
    %h3 Who can apply?
    %p You can apply for our apprenticeships if you:
    %ul.default
      %li live in Hackney
      %li went to a Hackney school or college within the last 5 years
      %li are receiving or have received Hackney leaving care services
    %p You must hold a British or European passport or have indefinite leave to remain in the UK.

    %p We have no upper age limit for our programme, but most of our apprenticeships are aimed at 16-24 year olds starting out in their careers. We also have some higher level apprenticeships which are more suitable for older applicants, and those with some prior experience.

    %p You may not be able to undertake an apprenticeship in a subject and level that you have already completed.

    %p For many of our apprenticeships, you do not need any formal qualifications to apply. We may ask you to take a short English and Maths assessment to make sure you are at the right level for the apprenticeship qualification.

    %br

    .accordion
      .accord-single
        .accord-toggle
          %h3
            What happens if I have a criminal record?
            =fa_icon "plus"
        .accord-cont
          %p At Hackney we support the rehabilitation of offenders and will not unfairly discriminate against any person with a conviction. If you do have a current or unspent criminal conviction you will be asked to declare this as part of your application.This will not stop you from being able to access the apprenticeship programme, however applications will be looked at on a case by case basis to assess suitability for job role.
          %p If the role involves working with children or vulnerable adults you will also have to declare any spent and unspent convictions and be subject to a DBS (Disclosure and Barring Service) check.

          %p=link_to "Nacro offer further information and support about how to disclose.", "https://www.nacro.org.uk/resettlement-advice-service/support-for-individuals/disclosing-criminal-records/disclosing-criminal-records-employers/", target: "_blank"

%br
%br
%br


.full-width#testimonials.hero
  .bg_img#appren_quote
    =image_tag('canal.jpg', class: 'parralax_me', id: 'parralax_me2')
  .container
    .slider
      .testimonial.clickable#testimonial1.active{:data => {:number => 1}}
        .image
          =image_tag('appren_1.png')
        .quote
          %p "I have an amazing qualification and 2 years’ worth of experience in a competitive field. This apprenticeship has taught me that drive is more important than anything else and there’s more than one route to get to where you want to be."
          %span La Braya, Digital Marketing Apprentice, at our Apprenticeship Graduation Ceremony
      .testimonial.clickable#testimonial2{:data => {:number => 2}}
        .image
          =image_tag('appren_2.png')
        .quote
          %p “After one year of not enjoying university, I wanted to find something that would help build a future through a career that I will enjoy, and I found an apprenticeship was the perfect way to start that.”
          %span Husain, ICT Apprentice
      .testimonial.clickable#testimonial3{:data => {:number => 3}}
        .image
          =image_tag('appren_4.png')
        .quote
          %p “I love having the freedom to work across different areas, and having my line manager believe in me and trust me. It’s been great in terms of my skills but also in terms of a social and a professional network”
          %span Thaddaeus, Design Apprentice
      .testimonial.clickable#testimonial4{:data => {:number => 4}}
        .image
          =image_tag('appren_3.png')
        .quote
          %p “It’s given me a more professional manner in the way I approach work. My favourite part of my apprenticeship is probably the training Hackney gives us because it’s given me a real in-depth knowledge of things like mental health, or how we can help people with debt”
          %span Micki-Jo, Housing Apprentice
      .slide_indicator
        .active.indicator#indi1{:data => {:number => 1}}
        .indicator#indi2{:data => {:number => 2}}
        .indicator#indi3{:data => {:number => 3}}
        .indicator#indi4{:data => {:number => 4}}

#newsletter.container
  %br
  %h2=t('hackney_works.apprenticeships.newsletter.title')
  %p.about Sign up for email alerts to find out about new apprenticeships at the council and other Hackney employers.
  .email_subscribe
    %form#mc-embedded-subscribe-form.validate{:action => "https://hackney.us17.list-manage.com/subscribe/post?u=33d75b080fe55e7a52dfa61c1&id=fbc373ca9e", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
      #mc_embed_signup_scroll
        %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "Add your email...", :required => "", :type => "email", :value => "", class: 'input'}/
        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
          %input{:name => "b_33d75b080fe55e7a52dfa61c1_fbc373ca9e", :tabindex => "-1", :type => "text", :value => ""}/
        %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe", class: 'is-primary'}/


%br
%br
%br
.full-width.white_block
  .container
    .sup_page_content.max_restrict
      %h2=t('hackney_works.apprenticeships.internal_about.title')

      %p=t('hackney_works.apprenticeships.internal_about.content').html_safe

      .center
        .bold= link_to I18n.t('buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary'
%br
.container
  .sup_page_content.max_restrict
    %h2 More Information
    %p
      If you have any questions, you can contact the team at
      =mail_to "apprenticeships@hackney.gov.uk"
      or use the links below.
    %p
      For advice and guidance about apprenticeships, see:
      %br
      =link_to "National Apprenticeship Service", "https://www.gov.uk/topic/further-education-skills/apprenticeships", target: '_blank'
      %br
      =link_to "All about school leavers", "https://www.allaboutschoolleavers.co.uk/school-leaver-options/apprenticeships-advice", target: '_blank'

    %p
      To search for apprenticeship vacancies across England, use the
      =link_to "find an apprenticeship service.", "https://www.gov.uk/apply-apprenticeship", target: '_blank'
%br

.sup_page_content.max_restrict.youtube_cont
  %iframe.youtube{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/41bpQCr46vI?rel=0", :width => "560"}


%br
.container
  .sup_page_content.max_restrict
    %h2 Information for Employers
    %p
      =link_to "Find out more about how your business can get involved.", employers_path

