.full-width.hero
  .bg_img
    =image_tag('dalston-grey.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
    .column.is-two-thirds
      %h1 Hackney Council provides a range of free advice and recruitment services
      %p Looking to grow your team? Want access to local talent? Interested in taking on an apprentice?
      %p Grow your own talent with an in-house training programme
  .lines
= render 'layouts/corona_notice'
.container
  .points
    %h3 A bespoke recruitment service
    .columns
      .column.point
        .icon_circle
          =fa_icon "id-badge"
        %p A dedicated account manager
      .column.point
        .icon_circle
          =fa_icon "users"
        %p A pool of local job-ready candidates
      .column.point
        .icon_circle
          =fa_icon "address-card-o"
        %p Tailored pre-screening, training services and recruitment events
      .column.point
        .icon_circle
          =fa_icon "building-o"
        %p Help with arranging interviews and facilities
      .column.point
        .icon_circle
          =fa_icon "phone"
        %p Promoting vacancies across our networks
  .sup_page_content.max_restrict
    %h3 Our experienced team can provide:
    %ul
      %li Assistance to set up work placements or traineeships.
      %li Support to establish apprenticeships - from level 2 to degree level.
      %li A pipeline of eligible candidates.
      %li Guidance and support to identify qualifications, source high quality training provision and navigate available funding.
      %li
        The opportunity to be part of our
        =link_to "Hackney 100", hackney100_path
        programme, which matches talented young people to temporary work placements in local businesses.
%br
.full-width#testimonials.hero
  .bg_img
    =image_tag('canal.jpg', class: 'parralax_me', id: 'parralax_me2')
  .container
    %h2 What employers say about us
    .slider
      .testimonial#testimonial1.active
        .quote
          %p "A number of successful candidates have either been made permanent or in some cases promoted within their teams within a few months of beginning their temporary assignment - a true sign that they are helping great people find the right roles for their future."
          %span Randstad Sourceright
      .testimonial#testimonial2
        .quote
          %p "A simple recruitment process providing candidates with suitable competencies and experience to match our openings. We have employed dozens of local residents in this way!"
          %span Multiplex Construction Europe Ltd
      .slide_indicator
        .active.indicator{:data => {:number => 1}}
        .indicator{:data => {:number => 2}}
%br
.container
  .sup_page_content.max_restrict
    %h3.bold.has-text-left Whatever your recruitment needs, our team is here to help you tap into a diverse pool of committed local talent that will add value to your business.

    %p
      To find out more, contact us at
      =mail_to "hackneyworks@hackney.gov.uk"
      or
      %span.touch-to-dial 020 8356 5700

