.full-width.hero
  .bg_img
    =image_tag('dalston-red.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-100-white.svg', :alt => 'Hackney 100')
    .column.is-two-thirds
      %h1 Are you aged 16-24 and looking for some high-quality paid work experience?
      %p Hackney Council are working with employers and partners across the borough to create exciting work placements and help young residents age 16-24 to succeed in creating careers in the tech, digital, creative, hospitality and construction industries. We also have opportunities at Hackney Council.
  .lines

%br
%br

.container
  -# .sup_page_content.max_restrict
  -#   %h2 The Hackney 100 placement
  -#   %p Placements will last for a minimum of 70 hours. This can be completed in two weeks (working full time) or spread over a longer period, up to 6 months, to fit around your schedule.
  -#
  -#   %p You will be paid the maximum national minimum wage, which is currently £7.50 per hour. That's money that you can use to enjoy yourself or save for your future.
  -#
  -#   %br
  -#
  -#   %h3 What you'll be doing
  -#   %p This will depend on your placement: you could be helping out on a project, working face to face with customers or leading on your own piece of work. All of our employers will expect you to be punctual, reliable and to pitch in as part of a team. You’ll be given a business mentor who will support you and help you get the most out of your placement.
  -#
  -# .points
  -#   %h3 What we offer
  -#   .columns
  -#     .column.point
  -#       .icon_circle
  -#         =fa_icon "building"
  -#       %p Find out more about local businesses
  -#     .column.point
  -#       .icon_circle
  -#         =fa_icon "gbp"
  -#       %p Get paid a good wage
  -#     .column.point
  -#       .icon_circle
  -#         =fa_icon "briefcase"
  -#       %p Improve your CV
  -#     .column.point
  -#       .icon_circle
  -#         =fa_icon "pencil"
  -#       %p Get valuable hands on experience

  .sup_page_content.max_restrict
    = form_tag 'https://Hackney.us19.list-manage.com/subscribe/post?u=cb895b8f785cbfed33399bb89&amp;id=58cc3c6a1b', method: 'post', target: '_blank' do
      %h3 Hackney 100: 2019
      %p Hackney 100 is open for applications for 2019 placements.

      %p To register your interest in being part of the Hackney 100, please submit your email below:

      .field
        = text_field_tag :EMAIL, '', class: 'input'

      .field
        = submit_tag 'Submit', class: 'button is-primary', name: 'subscribe'


%br
%br

.container
  .sup_page_content.max_restrict
    %h2 Are you an Employer?
    %p
      =link_to "Find out more about how your business can get involved.", employers_path
