.container
  .sup_page_content.max_restrict
    %h1.bold Privacy policy
    %p In line with current data protection legislation, London Borough of Hackney has a duty to protect the personal data it processes. Information must be collected and used fairly, stored safely and not disclosed to any person unlawfully.

    %p Use of personal data contained within this form or provided to London Borough of Hackney will only be used for its intended purpose and in accordance with data protection legislation. We will not hold your information for longer than we need it to provide this service.

    %p You have the right to find out what information we hold on you and request access to it. If you are no longer using our service, you have the right to withdraw your consent for your data to be used. If you do this, we will delete any data we hold on you.

    %p This site was built in partnership with Futuregov. For more details on what data we stored and where, see their #{link_to('Terms and Privacy Policy', 'https://www.wearefuturegov.com/products/data_protection', target: 'blank')}.

    %p Listed are the third party tools used to deliver the service. Outside of these, we will not share any personal information with any third party organisations without obtaining your consent.
