.column.is-half.is-offset-one-quarter.info-with-icon
  %h2.subtitle You have been sucessfully unsubscribed
  %p=image_tag('icons/email.svg', :alt => 'Email Icon')
  %p You will no longer receive any emails from us.
  %p If you clicked this link in error, please #{mail_to 'hackneyworks@hackney.gov.uk', 'contact us'} to resubscribe
    
