.full-width.hero
  .bg_img
    =image_tag('dalston-red.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-works-white.svg', :alt => 'Hackney 100')
    .column.is-two-thirds
      %h1 500 Internal Server Error
      %p.bold An unexpected error has occured.
      %p Please try refreshing your page.
      %p
        If the error persists, please come back later. We've been alerted to
        the problem and are working to fix it.
