.full-width.hero
  .bg_img
    =image_tag('dalston.jpg', class: 'parralax_me', id: 'parralax_me')
  .container.columns.main
    .column.is-one-thrid#logo
      =image_tag('hackney-works-white.svg', :alt => 'Hackney Works')
    .column.is-two-thirds
      %h1 Supported Employment
      %p If you have a disability or health condition and are looking for work, our dedicated Supported Employment advisors can help you to achieve your goals.
  .lines
%br
%br
.container
  .sup_page_content.max_restrict
    %h2 Hackney Works - Supported Employment
    %p
      As well as support with CVs, job applications and interview technique, as detailed in our
      =link_to "Hackney Works offer,", :root
      our dedicated Supported Employment advisdors can help you if you have a disability or health condition.

  .points
    %h3 What we can help with
    = link_to new_client_path, class: 'not_a_link' do
      .columns
        .column.point
          =fa_icon "user"
          %p Help to identify your unique skills
        .column.point
          =fa_icon "briefcase"
          %p Give you exclusive access to suitable job vacancies
        .column.point
          =fa_icon "line-chart"
          %p Support you to stay in work and to progress
        .column.point
          =fa_icon "handshake-o"
          %p Help you to explain your health condition to employers
    = link_to I18n.t('buttons.register'), new_client_path, title: "Register for the Hackney Works service", class: 'button is-primary'
.full-width#testimonials.hero
  .bg_img
    =image_tag('supported_employment.jpg', class: 'parralax_me', id: 'parralax_me2')
  .container
    .slider
      .testimonial.active
        %br
        %br
        .quote
          %p "Hackney Works Supported Employment helped me with the transition into work. It is a very easy and friendly service."
          %span=t('hackney_works.testimonials.testimonial_a_name')
        %br
        %br
        %br
        %br

%br
.contianer
  .sup_page_content.max_restrict
    %p
      For more information about the service, email us at:
      =mail_to "supportedemployment@hackney.gov.uk"

    %p
      If you are working with someone who would benefit from our service, you can
      =link_to "Make a Referral", new_client_referrers_path
