.container.content.columns
  .column.is-10.is-offset-1
    %h2.subtitle Are you Eligible?
    %p Before you register, we need to check that you are eligible for support.

    #eligibility_check
      %p.check_box.control.medium
        =label_tag 'resident', class: 'checkbox' do
          =check_box_tag "resident"
          Do you live in Hackney?
      %p.check_box.control.medium
        =label_tag 'can_work', class: 'checkbox' do
          =check_box_tag "can_work"
          Are you eligible to work in the UK?
      %p.check_box.control.medium
        =label_tag 'unemployed', class: 'checkbox' do
          =check_box_tag "unemployed"
          Are you out of work or earning less than £18,000 per year?

    %hr

    #register_link.disabled.control
      =button_to I18n.t('devise.buttons.accept_terms'), new_client_path, method: 'get', disabled: true, class: 'button is-primary'

.container.content.columns
  .column.is-10.is-offset-1
    %p
      Already have an account?
      %span.bold=link_to "Log in", user_login_session_path
