%h3.subtitle Tick some boxes

%div
  =label_tag 'resident', "Are you a Hackney Resident?"
  =check_box_tag 'resident'
%div
  =label_tag 'unemployed', "Are you unemployed or earning below the London living wage?"
  =check_box_tag "unemployed"

#register_link.disabled=link_to I18n.t('devise.buttons.accept_terms'), '#', disabled: true
>>>>>>> develop
