%section
  .head.level
    .level-left
      %h2= "Enquire about this opportunity"
    .level-right
      =link_to "Back to all opportunities", client_opportunities_path, class: 'button pull-right top_right_button'
  %hr

  .opportunity_form
    = simple_form_for [@opportunity, @enquiry], url: client_opportunity_enquiries_path do |f|
      = f.input :supporting_statement, as: :text, :input_html => { :class => 'textarea' }

      %div
        .warning_message.alert.alert-notice
          We'll send your enquiry using the contact details on your profile.

      = f.submit "Send enquiry", :class => 'button is-primary tablet_cta'
