%section
  .head.level
    .level-left
      %h2= "Thanks"
    .level-right
      =link_to "Back to all opportunities", client_opportunities_path, class: 'button pull-right top_right_button'
  %hr

  .box
    %p Thank you for registering your interest in this opportunity. Our Hackney Works team will review your submission and contact you if you are being considered for the role.

    / IF Work placements
    / Thank you for registering your interest in this opportunity. Our Hackney Works team will review your submission and get in touch if you are being considered for the role.

    / IF Internal Apprenticeships:
    / Thank you for registering your interest in this opportunity. Please click the link below to apply. Council website link

    %p Link to view events
