%section

  .filters
    = form_with url: advisor_vacancy_applications_path, method: :get, skip_enforcing_utf8: true do
      %span.select
        = select_tag "vacancy_select", options_for_select(@vacancies.map{ |vacancy| [vacancy["title"]["rendered"], vacancy["id"]] }, params[:vacancy_select]), onchange: 'this.form.submit();', include_blank: "All vacancies"

  %br
  .head.level
    .level-left
      %h2="Vacancy applications awaiting review"
      %span.client_total#filtered_count
        %span.bold=pluralize(@vacancy_applications_awaiting_review.count, 'awaiting application')

  - if @vacancy_applications.count > 0
    - if @vacancy_applications_awaiting_review.count > 0
      %table.table
        %thead
          %tr
            %th
              Name
            %th
              Applied
            %th
              Email
            %th
              Phone
            %th
              Vacancy

        - @vacancy_applications_awaiting_review.each do |vacancy_application|
          %tr
            = render partial: 'row', locals: { vacancy_application: vacancy_application }

    - if @vacancy_applications_reviewed.count > 0
      .head.level
        .level-left
          %h2="Reviewed applications"
          %span.client_total#filtered_count
            %span.bold=pluralize(@vacancy_applications_reviewed.count, 'reviewed application')
      %table.table
        %thead
          %tr
            %th
              Name
            %th
              Applied
            %th
              Email
            %th
              Phone
            %th
              Vacancy
            %th

        - @vacancy_applications_reviewed.each do |vacancy_application|
          %tr{ class: "unsuccessful" }
            = render partial: 'row', locals: { vacancy_application: vacancy_application }
  - else
    %br
    %p="No applications have been made yet"
