.column.is-half.is-offset-one-quarter.info-with-icon
  %h2.subtitle Your profile has been saved.
  =image_tag('icons/profile.svg', :alt => 'Profile Icon')
  %h3 Thank you
  %p Thank you for registering with our service.
  =link_to "View profile", :client_profile, class: 'button is-primary'
