.column
  %h2.subtitle Does your referral live within Hackney?
  
  %p Sorry, it looks like this person lives outside Hackney so we weren’t able to complete the referral.
  
  %p They could still be eligible for our service if either of the following apply:
  %ul
    %li They are being housed in Hackney Council temporary accommodation outside the borough.
    %li They have Hackney Council as a corporate parent, i.e. they are or were in care.
  
  %p
    If so, please call us on
    =link_to "0208 356 5700", "tel:0208 356 5700"
    we can process your referral.
