/* achievements temp code so I can think clearly */

.achievable-container.achieved,
.achievement-container {
  display: none;
  .is-hidden {
    // display: none;
  }
}

.achievement-container.achieved {
  display: block;
  a {
    color: green;
  }
}

.achievable-container a {
  color: red;
}