.full-width
  width: 100vw
  position: relative
  left: 50%
  right: 50%
  margin-left: -50vw
  margin-right: -50vw
  &.info
    background: $white-ter
    padding: 5em 1em
    text-align: center
  p.lead
    text-transform: uppercase
    font-weight: bold