%p.end_date
  %span.bold Closing date:
  = opp_end_date(opportunity.closing_date)
%p.salary
  %span.bold Salary:
  = opportunity.specific.pay
%p.end_date
  %span.bold Location:
  = opportunity.location
