%p.end_date
  %span.bold= unenqireable ? "End date:" : "Closing date:"
  = opp_end_date(opportunity.closing_date)
%p.end_date
  %span.bold Location:
  = opportunity.location
- if opportunity.specific.try(:pay).present?
  %p.salary
    %span.bold Salary:
    = opportunity.specific.pay
