#all_opportunities
  .head.level
    - if current_advisor
      .level-left
        %h2 Active opportunities
        %span.client_total#filtered_count
          %span.bold=pluralize(@opportunities.count, ' active opportunity')
      .level-right.home
        = link_to "Add new Opportunity", new_advisor_opportunity_path, class: "button is-primary"
    - else
      .level-left
        %h2 All opportunities

  %br
  - if @opportunities.any?
    .container
      .opportunity_list.columns.is-multiline
        - @opportunities.each do |opportunity|
          = render partial: 'opportunities/single_opportunity', locals: { opportunity: opportunity }

    - if current_advisor
      %br
      %br
      %br
      .head.level
        .level-left
          %h2 Completed opportunities
          %span.client_total#filtered_count
            %span.bold=pluralize(@old_opportunities.count, 'completed opportunity')

      .container
        .opportunity_list.columns.is-multiline
          - @old_opportunities.each do |opportunity|
            = render partial: 'opportunities/single_opportunity', locals: { opportunity: opportunity }
  - elsif !current_advisor
    .box
      %p Sorry there are not any opportunities currently avaliable. Please check back soon for more opportunities.
