=assessment-circle
  color: $color__grey
  &.amber
    color: $color__amber
  &.green
    color: $color__green
  &.red
    color: $color__red

.admin

  .footer, .site-footer, footer
    background-color: $white

  .back.admin
    margin-bottom: 1em
    display: inline-block

  .head
    h2
      display: inline-block
      margin: 0 1.5rem 0 0

  .table
    border-collapse: separate
    border-spacing: 0 $size-5
    background-color: transparent
    margin-bottom: 0
    .action_plan_task
      a
        color: #4a4a4a
        &:hover
          color: $black
      td.task
        width: 60%
    tbody
      tr
        background-color: rgba($white, 0.7)
        margin-bottom: $size-1
        border: 1px solid #DADADA
        line-height: 28px
        &:hover
          background-color: rgba($white, 1)
    thead
      line-height: 0
      tr
        background-color: transparent
      th
        text-transform: uppercase
        font-weight: 500
        font-size: 13px
        color: rgba($black, 0.7)
    td, th
      border: none
      &.quarter
        width: 25%
      &.third
        width: 33%
      &.one-sixth
        width: 16.6%
      &.one-eigth
        width: 12.5%
      &.one-tenth
        width: 10%
    button.button, input[type="submit"].button
      padding-bottom: 0.35em

  .hero
    tbody
      tr
        background-color: rgba($white, 0.95)
    i.fa
      transition: 0.25s ease-in-out all
    &.open i.fa
      transition: 0.25s ease-in-out all
      transform: rotate(180deg)


  .clients_list
    .table
      th:hover, tr:hover
        background-color: transparent
      th
        text-transform: uppercase
        font-weight: 600
        font-size: 90%
        border: 0


a[data-icon='envelope']
  &::after
    visibility: visible
    content: '\f0e0'
    font-family: 'FontAwesome'
    margin-left: 0.5em

#clients_needing_appointment
  background-color: $grey-dark
  padding: 0.5rem 1.5rem
  margin-bottom: $size-2
  #hidden-section
    display: none
  table
    margin-bottom: 0
  h4
    text-align: center
    color: $white
    margin-bottom: 0.4em
    margin-top: 0.4em
  thead th
    color: white

#client_filters
  margin-bottom: $size-3
  background: white
  padding: 1em 1.5em
  label
    margin-bottom: 0
  #vertical
    label
      display: block
      line-height: 37px
      margin-right: 15px
  #fix-line-hieght
    .button
      margin-top: 12.5px
    &-dbl .button
      margin-top: 25px

#clients_with_initial_appointment,
#filterrific_results
  .client
    td i.fa-circle
      font-size: 24px
      +assessment-circle

#tab-list
  ul
    margin-top: 0
    margin-left: 0
  li
    list-style-type: none
    margin-bottom: 20px
    padding-bottom: 5px

  .ui-tabs-active a, a:hover
    border-bottom: 2px solid $hackney-brand
  a:focus, li:focus
    outline: none

#upper-tabs
  margin-bottom: 0
  margin-top: 50px
  margin-left: 0
  margin-right: 0
  a
    color: $black
    text-transform: uppercase
    font-weight: $weight-medium
  .single-tab
    padding: 15px 30px
    opacity: 0.5
    &:hover
      opacity: 1
    &.current
      line-height: 1.5
      opacity: 1
      background-color: #fff
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      border: 1px rgba(29, 29, 27, 0.15) solid
      border-bottom-color: $white
      margin-bottom: -1px
      display: inline-block
      &:hover
        cursor: default
    &:first-child.current
      // margin-left: -0.75em
    &:last-child.current

.profile-tab
  border: 1px rgba(29, 29, 27, 0.15) solid
  background-color: #fff
  padding: 30px
  border-radius: 5px
  margin-top: 0px
  .tab
    padding-left: 15px
  .action-section, #meeting_table
    .table td, .table th
      padding-left: 0
    &.completed
      opacity: 0.5
      transition: 0.2s ease-in-out opacity
      &:hover
        opacity: 0.9
        transition: 0.2s ease-in-out opacity
    &.ongoing
      margin-bottom: 6em
    hr
      opacity: 0.6
  .tile
    label.label
      text-transform: uppercase
      color: rgba($black, 0.5)
      font-weight: normal
      font-size: 13px
    h3 i.fa-circle
      +assessment-circle
      font-size: 1.1em
      margin-left: 0.5em

.form-action
  margin-top: 2em

// .admin.my_clients.index
//   main.main.section
//     padding-left: 0

.admin.contact_notes.new
  h1.name
    margin-bottom: 0.75em
  fieldset
    margin-bottom: 0

.admin.clients.edit
  .nav-back
    margin-right: 10px

.admin.meetings,
.admin.clients,
.admin.action_plan_tasks,
.admin.contact_notes,
body.file_uploads
  .content h3
    // margin-bottom: 0

body.contact_notes .table
  tr.note
    td, th
      padding-left: 0

.previous_files
  padding: 0

.top-left-corner
  border-top-left-radius: 0px
.top-right-corner
  border-top-right-radius: 0px


.button#print_page
  margin-right: 10px


#actions
  .field
    margin-bottom: 0

#fix_alignment
  margin-left: 0
  margin-bottom: 15px

.old_meeting
  opacity: 0.7
  font-style: italic
  transition: 0.2s ease-in-out opacity
  &:hover
    opacity: 1
    transition: 0.2s ease-in-out opacity

#meeting_table .meeting:first-child td
  padding-top: 0px !important

#meeting_table .old_meeting td
  padding-top: 100px
#meeting_table .old_meeting ~ .old_meeting td
  padding-top: 0px


.clickable_row:hover
  cursor: pointer
  color: $black

.action_plan_task
  .fa-exclamation-circle
    display: none
  &.overdue
    .fa-exclamation-circle
      display: inline-block
    .due_date
      color: $red
      font-weight: bold

#misc_overview
  p
    margin-bottom: 0px
  h4
    margin-bottom: 5px
  .button.is-small
    margin-top: 10px

.button_to
  display: inline-block

.add-margin-top
  .button
    margin-top: 3px
