body.hackney100 {
  .lines {
    border-top-color: $color__hackney-100;
    border-bottom-color: #FFE3E4;
    &:after {
      background: rgba($color__hackney-100, 0.55);
    }
  }
  footer {
    .lines {
      border-top-color: #FFE3E4;
      border-bottom-color: $color__hackney-100;
    }
  }
  .full-width.hero {
    // background: linear-gradient(135deg, rgba(189,50,53,0.40) 0%, rgba(189,50,53,0.82) 100%);
  }
  p a {
    color: $color__hackney-100;
    font-weight: 600;
    &:hover {
      color: #4a4a4a;
    }
  }
  .is-primary {
    background-color: $color__hackney-100;
  }
  .points {
    .icon_circle {
      background-color: $color__hackney-100;
    }
  }
  .hide_hackney_link {
    display: none;
  }
}
