#hubs
  .map
    border: 1px solid $grey-lighter
  .columns
    margin: 0
    .image
      background-size: cover
      &#hub_staff_1
        background-image: image-url('people/staff-hoxton.jpg')
      &#hub_staff_2
        background-image: image-url('people/staff-redmond.jpg')
      &#hub_staff_3
        background-image: image-url('people/staff-homerton.jpg')
      +mobile
        height: 500px

.hubs.top.box
  margin-top: 1.5em
