=background-image-gradient($angle, $color, $url, $amount: 0.75)
  background: linear-gradient($angle, rgba($color, $amount), rgba($color, $amount - 0.2)), image-url($url) no-repeat center center

html
  background-color: whitesmoke

body.welcome.show,
body.hackney_works.show,
body.hackney_apprenticeships.show,
body.hackney100.show,
body.supported_employment.show,
body.employers_information.show
  #alerts
    top: 60px
    position: absolute
    width: 100%
    z-index: 20
  .site-header
    padding-top: 7px
    background: transparent
    position: absolute
    top: 0
    left: 0
    width: 100%
    color: #fff
    text-shadow: 0 1px 4px rgba(92,92,92,0.50)
    .nav-toggle span
      background-color: #fff
    a, input
      color: #fff
    .lines
      display: none
    .nav-item a.is-tab:hover, .nav-item a.is-tab.current, a.nav-item.is-tab:hover, a.nav-item.is-tab.current, input.nav-item.is-tab:hover, input.nav-item.is-tab.current, .nav-item input.is-tab:hover, .nav-item input.is-tab.current
      background-color: transparent
      text-decoration: underline
  .main.section#main
    padding-top: 0
    @media screen and (max-width: 960px)
      padding-top: 12px
  footer
    margin-top: -0.75em
  #main-site-wrapper .site-header .lines,
  // footer .lines
  //   border-top-color: #0A624A
  //   border-bottom-color: #7CB736
  //   &:after
  //     background-color: #17A34F

  // footer .lines
  //   border-bottom-color: #0A624A
  //   border-top-color: #7CB736
.services
  margin-top: 60px
  margin-bottom: 30px
  .column
    padding: 3em
    text-align: center
    color: white
    background-size: cover
    background-position: right
    @media screen and (max-width: $tablet)
      background-position: 100%
    img
      width: 50%
      display: block
      margin: 0 auto 30px auto
    p
      margin-bottom: 2em
      font-size: 1.25em
    .button
      background: transparent
      color: white
      border: 1px solid white
      font-weight: bold
      font-size: 1.25em
    +mobile
      padding: 2em
      img
        width: 80%
    &.works
      +background-image-gradient(90deg, $color__hackney-works, 'service/works.jpg')
    &.hundred
      +background-image-gradient(90deg, $color__hackney-100, 'service/100.jpg')
    &.apprentices
      +background-image-gradient(90deg, $color__hackney-apprentices, 'service/apprentices.jpg')
    &.support
      +background-image-gradient(90deg, $color__hackney-support, 'service/learning.jpg')
      img
        margin-top: 3.5em
        margin-bottom: 4.75em
        width: 70%

.full-width.hero
  // +background-image-gradient(-135deg, $color__hackney-works, 'dalston.jpg')
  background: linear-gradient(135deg, rgba(0,156,166,0.40) 0%, rgba(0,156,166,0.79) 100%)

  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  padding: 150px 0 70px 0
  text-align: left
  color: white
  position: relative

  text-shadow: 0 1px 4px rgba(92,92,92,0.50)

  +mobile
    text-align: center
  +just_mobile
    padding: 50px 0 20px 0
    h1
      margin-top: 0 !important
    #logo
      img
        width: 150px
    .bg_img
      img
        margin-left: -100px
  .lines
    position: absolute
    bottom: -8px
  #logo
    text-align: center
    img
      transform: rotate(-5deg)
  .main
    padding: 0 1em
  h1
    color: white
    font-weight: 700
    margin-top: 20px
    margin-bottom: 20px
  p
    font-size: 1.25em
    margin-bottom: 1.25em
    font-size: 18px
    line-height: 23px
    font-weight: 500
  .button.is-primary
    border: 1px solid white
  .content
    margin-top: 30px
    background: $white-ter
    width: 100%
    padding: 2em 1em 2.5em 1em
    text-align: center

.points
  text-align: center
  padding: 75px 1em 55px 1em
  font-size: 18px
  .fa
    color: $color__hackney-works
    font-size: 47px
  h2
    margin-bottom: 50px
  .point
    padding: 0 2em 3em 2em
    p
      margin-top: 1em
  .button
    margin-bottom: 2em
    &.is-primary
      font-weight: 600
      margin-right: 10px

.not_a_link, .not_a_link:hover
  color: $black

#other_pages
  margin-bottom: 0
  a:not(.button)
    color: $black
    &:hover
      color: #fff
  p
    margin-bottom: 20px
  .is-one-third
    padding: 40px
    text-align: center
    background-color: rgba(#10BEC9, 0.5)
    transition: 0.5s ease-in-out background-color
    &:hover
      background-color: $color__hackney-works
      color: #fff
      transition: 0.2s ease-in-out background-color
      h2, a:not(.button)
        color: #fff !important

    &#hack100
      background-color: #FF9EA1
      &:hover
        background-color: $color__hackney-100
    &#apprent
      background-color: rgba(#93D66B, 0.5)
      &:hover
        background-color: $color__hackney-apprentices
    h2
      min-height: 60px
      +mobile
        min-height: 0
      +fullhd
        min-height: 0

.bg_img
  overflow: hidden
  width: 100%
  height: 100%
  position: absolute
  top: 0
  z-index: -1
  img
    width: 100%
    +mobile
      max-width: none !important
      height: 120%
      width: auto !important

#parralax_me2
  +just_mobile
    -o-transition-property: none !important
    -moz-transition-property: none !important
    -ms-transition-property: none !important
    -webkit-transition-property: none !important
    transition-property: none !important
    /*CSS transforms*/
    -o-transform: none !important
    -moz-transform: none !important
    -ms-transform: none !important
    -webkit-transform: none !important
    transform: none !important
    /*CSS animations*/
    -webkit-animation: none !important
    -moz-animation: none !important
    -o-animation: none !important
    -ms-animation: none !important
    animation: none !important


#testimonials
  background: linear-gradient(135deg, rgba(74,74,74,0.40) 0%, rgba(74,74,74,0.79) 100%)
  padding: 60px 0
  text-align: center

  .testimonial
    .quote
      text-align: left
  h2
    color: #fff
    margin-bottom: 40px

  .image
    display: inline-block
    width: 100px
    margin-right: 15px
    vertical-align: top
  .quote
    display: inline-block
    width: 70%
    p
      margin-bottom: 0
      font-size: 25px
      font-weight: 500
      line-height: 35px
    span
      font-size: 18px
      margin-top: 3px
      display: block
.slider
  .testimonial
    display: none
    &.active
      display: block
  .slide_indicator
    margin-top: 40px
    .indicator
      width: 12px
      height: 12px
      border-radius: 100%
      background-color: rgba(#fff, 0.5)
      display: inline-block
      margin: 5px
      transition: 0.2s ease-in-out background-color
      &.active
        background-color: #fff
      &:hover
        background-color: #fff
        cursor: pointer

#vacancies
  text-align: center
  padding: 80px 0 80px 0
  h2
    margin-bottom: 35px

#newsletter
  text-align: center
  padding-bottom: 40px
  .about
    max-width: 575px
    margin-right: auto
    margin-left: auto
  .email_subscribe
    input
      width: 200px
