=background-image-gradient($angle, $color, $url, $amount: 0.75)
  background-image: linear-gradient($angle, rgba($color, $amount), rgba($color, $amount - 0.2)), image-url($url)

body.welcome.show,
body.hackney_works.show
  background: white
  .main.section#main
    padding-top: 0
    @media screen and (max-width: 960px)
      padding-top: 12px
  footer
    margin-top: -0.75em

.services
  margin-top: 60px
  margin-bottom: 30px
  .column
    padding: 4em
    text-align: center
    color: white
    background-size: cover
    img
      width: 50%
      display: block
      margin: 0 auto 30px auto
    p
      margin-bottom: 2em
    .button
      background: transparent
      color: white
      border: 1px solid white
      font-weight: bold
      font-size: 1.25em
    +mobile
      padding: 2em
      img
        width: 80%
    &.works
      +background-image-gradient(90deg, $color__hackney-works, 'town-hall.png')
    &.hundred
      +background-image-gradient(90deg, $color__hackney-100, 'town-hall.png')
    &.apprentices
      +background-image-gradient(90deg, $color__hackney-apprentices, 'apprentice-graphic.jpg')
    &.support
      +background-image-gradient(90deg, $color__hackney-support, 'support-graphic.jpg')
      * 
        color: black
      .button
        border-color: black
      h2
        padding: 75px 1em

.full-width.hero
  +background-image-gradient(90deg, $color__hackney-works, 'town-hall.png')
  background-size: cover
  background-position: bottom
  padding: 4em 0 0 0
  text-align: center
  color: white
  .main
    padding: 0 1em
  h1
    text-transform: uppercase
    color: white
    font-weight: bold
  p
    font-size: 1.25em
    margin-bottom: 1.25em
  .button.is-primary
    border: 1px solid white
  .content
    margin-top: 30px
    background: $white-ter
    width: 100%
    padding: 2em 1em 2.5em 1em
    text-align: center

.points
  text-align: center
  padding: 60px 1em 20px 1em
  h2
    font-weight: normal
    padding-bottom: 60px
  .point
    padding: 0 2em 4em 2em
    .img-container
      height: 51px
    p
      margin-top: 1em
  .button
    margin-bottom: 2em

.testimonials
  .column
    background-size: cover
    background-position: center center
    padding-top: 30em
    p
      width: 70%
      display: block
      margin: 0 auto
      text-align: center
      color: white
      padding-bottom: 2em
      +mobile
        width: 100%
        padding-left: 1em
        padding-right: 1em
    &:nth-child(1)
      +background-image-gradient(0deg, $black-ter, 'people/client-4.jpg', 0.5)
    &:nth-child(2)
      +background-image-gradient(0deg, $black-ter, 'people/client-3.jpg', 0.5)
    &:nth-child(3)
      +background-image-gradient(0deg, $black-ter, 'people/client-5.jpg', 0.5)












