.bold
  font-weight: $weight-semibold

.hide
  display: none

.nav-item a.is-brand, a.nav-item.is-brand
  padding-left: 1.5rem

@media screen and (min-width: $desktop)
  .nav-item a.is-brand, a.nav-item.is-brand
    padding-left: 0

.alert-alert, .alert-error
  background-color: $danger
  color: $white

.alert-notice
  background-color: $primary
  color: $white

fieldset
  border: none
  margin-bottom: 3.5rem
abbr
  text-decoration: none


#footer_logo
  img
    max-width: 200px
