body
  display: flex
  min-height: 100vh
  flex-direction: column

#main-site-wrapper
  flex: 1


.hackney-logo
  img
    max-width: 375px
    width: 25%
    min-width: 200px

h1, h2
  font-size: 27px
  font-weight: 600



#watermark
  position: absolute
  opacity: 0.075
  top: 40%
  left: 5%
  // max-width: 275px
  z-index: -1
  +mobile
    opacity: 0.03
    top: 25%
    // max-width: 250px

.ie-only
  display: none

.center-text
  text-align: center
