.bold
  font-weight: $weight-semibold

.hide
  display: none

.nav-item a.is-brand, a.nav-item.is-brand
  padding-left: 1.5rem

@media screen and (min-width: $desktop)
  .nav-item a.is-brand, a.nav-item.is-brand
    padding-left: 0

.alert-alert, .alert-error
  background-color: $danger
  color: $white

.alert-notice
  background-color: $primary
  color: $white

fieldset
  border: none
  margin-bottom: 3.5rem
abbr
  text-decoration: none

.actions
  margin-top: $size-4
  .button
    +mobile
      width: 100%

.confirmations.new, .passwords.new
  #devise_links
    display: none

#devise_links
  margin-top: $size-4
  color: $grey-dark
  .link
    margin-bottom: $size-6
  a
    color: $black
  .small-text
    font-size: 14px

#footer_logo
  img
    max-width: 200px


#profile_steps
  .button_to
    display: inline
