.reg-flow
  h2.subtitle
    text-align: center
    font-size: 1.25em
    border-bottom: 1px solid $grey-light
    padding-bottom: 2em
  .additional label
    height: 2.25em !important
  .convert_radio
    margin-bottom: 2em