.opportunity_list {
  text-align: left;
  .single_opportunity {
    .box {
      min-height: 100%;
      position: relative;
    }
    .description {
      @include just_mobile {
        font-size: 14px;
      }
    }
    .opportunity_title {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
      @include just_mobile {
        font-size: 22px;
        line-height: 26px;
      }
    }
    .eventbrite_link, .internal_apprenticeship {
      margin-top: 50px;
    }
    .is-primary.button {
      position: absolute;
      bottom: 1.25rem;
      width: calc(100% - 2.5rem);
    }
  }
}

.opportunity_form {
  max-width: 800px;
  .date_input {
    max-width: 200px;
  }
  .file_selector {
    margin-bottom: 25px;
  }
  .file_uploader {
    margin-bottom: 25px;
  }
  .file_uploader.hidden {
    display: none;
  }
}

.opportunities .head h2 {
  display: inline-block;
  margin: 0 1.5rem 0 0;
}

.break_button {
  margin-left: 10px;
}

.enquiries, .course_applications, .vacancy_applications {
  tr.unsuccessful, tr.accepted {
    opacity: 0.5;
    .button.is-primary {
      background-color: $grey;
    }
  }
  tr.accepted {
    opacity: 0.6;
    .button.is-primary {
      background-color: $green;
    }
  }
}

.button.is-event {
  background-color: #ff8000;
  width: 100%;
  &:hover {
    background-color: darken(#ff8000, 5%);
  }
}
.button.is-internal {
  background-color: $color__hackney-apprentices;
  width: 100%;
  &:hover {
    background-color: darken($color__hackney-apprentices, 5%);
  }
}

.opportunity_tags {
  margin-bottom: 10px;
  .tag {
    margin-bottom: 5px;
  }
}
.tag.event, .tag.training {
  background-color: #ff8000;
  color: #fff;
  a {
    color: #fff;
  }
}
.tag.apprenticeship {
  background-color: $color__hackney-apprentices;
  color: #fff;
  a {
    color: #fff;
  }
}
.tag.placement {
  background-color: $color__hackney-100;
  color: #fff;
  a {
    color: #fff;
  }
}
.tag.job {
  background-color: $color__hackney-works;
  color: #fff;
  a {
    color: #fff;
  }
}

.tag.inactive {
  background-color: #fff;
  a {
    color: #1D1D1B;
  }
  &.event:hover, &.training:hover {
    cursor: pointer;
    background-color: rgba(#ff8000, 0.2);
  }
  &.apprenticeship:hover {
    cursor: pointer;
    background-color: rgba($color__hackney-apprentices, 0.2);
  }
  &.placement:hover {
    cursor: pointer;
    background-color: rgba($color__hackney-100, 0.2);
  }
  &.job:hover {
    cursor: pointer;
    background-color: rgba($color__hackney-works, 0.2);
  }
}
.tag.large {
  font-size: 17px;
  margin-bottom: 7px;
  @include just_mobile {
    font-size: 15px;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}

