.opportunity_list {
  .single_opportunity {
    .opportunity_title {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
}

.opportunity_form {
  max-width: 800px;
  .date_input {
    max-width: 200px;
  }
  .file_selector {
    margin-bottom: 25px;
  }
  .file_uploader {
    margin-bottom: 25px;
    display: none;
  }
}

.opportunities .head h2 {
  display: inline-block;
  margin: 0 1.5rem 0 0;
}

.break_button {
  margin-left: 10px;
}

.enquiries {
  tr.unsuccessful, tr.accepted {
    opacity: 0.5;
    .button.is-primary {
      background-color: $grey;
    }
  }
  tr.accepted {
    opacity: 0.6;
    .button.is-primary {
      background-color: $green;
    }
  }
}

.button.is-event {
  background-color: #ff8000;
  width: 100%;
  &:hover {
    background-color: darken(#ff8000, 5%);
  }
}

.opportunity_tags {
  margin-bottom: 10px;
}
.tag.event, .tag.training {
  background-color: #ff8000;
  color: #fff;
  a {
    color: #fff;
  }
}
.tag.apprenticeship {
  background-color: $color__hackney-apprentices;
  color: #fff;
  a {
    color: #fff;
  }
}
.tag.placement {
  background-color: $color__hackney-100;
  color: #fff;
  a {
    color: #fff;
  }
}
.tag.job {
  background-color: $color__hackney-works;
  color: #fff;
  a {
    color: #fff;
  }
}

.tag.inactive {
  background-color: #fff;
  a {
    color: #1D1D1B;
  }
  &.event:hover, &.training:hover {
    cursor: pointer;
    background-color: rgba(#ff8000, 0.2);
  }
  &.apprenticeship:hover {
    cursor: pointer;
    background-color: rgba($color__hackney-apprentices, 0.2);
  }
  &.placement:hover {
    cursor: pointer;
    background-color: rgba($color__hackney-100, 0.2);
  }
  &.job:hover {
    cursor: pointer;
    background-color: rgba($color__hackney-works, 0.2);
  }
}
.tag.large {
  font-size: 17px;
  margin-bottom: 5px;
}
