.opportunity_list {
  .single_opportunity {
    .opportunity_title {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .salary {
      margin-bottom: 5px;
    }
  }
}
