%p
  Welcome #{@resource.user_id.present? ? @resource.name : @email}!

%p You can confirm your account email through the link below:

%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)

- if @user_login.user_type == 'Client'
  = render partial: 'shared/client_email_signature'
- else
  = render partial: 'shared/advisor_email_signature'
