%p Hello #{@user_login.name}!

%p Thankyou for registering with our service. As mentioned someone will be in touch with you soon to arrange a meeting.

%p To get things rolling it would be really useful if you could login and give us some more details prior to your visit.

%p= link_to 'Create my password', edit_client_password_url(user_login_id: @user_login, reset_password_token: @token)

%p If you didn't request this, please ignore this email.

= render partial: 'shared/email_signature'
