.column
  .head.level
    .level-left
      %h2="#{client.first_name}'s Contact Timeline"
    .level-right.home.single
      =button_to I18n.t('clients.buttons.new_contact_note'), new_advisor_client_contact_note_path, method: :get, class: "button is-primary"


  = render partial: 'shared/upper_tabs', locals: {the_client: client}

  .profile-tab.top-right-corner
    - if client.contact_notes.count > 0
      .box
        %h2 Previous contact notes
        %table.table
          %thead
            %tr.note
              %th Advisor
              %th Date
              %th Method
              %th Notes
          %tbody
            = render partial: 'contact_note', collection: client.contact_notes

    .box
      %h2 Archive client and opt-out
      %p Use if: your client is no longer interested and doesn't want to be contacted
      =button_to I18n.t('clients.buttons.archive_client'), advisor_client_path(client), method: :delete, class: "button is-danger is-small"
