%p= "Hi, #{@referrer.name}"

%p
  Thank you for referring #{@referrer.client.name} on Hackney Works. One of our team
  will contact them to arrange an initial meeting in the next few days.

%p
  Thanks<br />
  The Hackney Works team
    
