%p= "Hi, #{@referrer.name}"

%p
  Thank you for referring #{@referrer.client.name} to the Hackney Works service.
  One of our advisors will contact them within 2 working days to arrange an
  initial meeting

%p
  Thanks<br />
  The Hackney Works team
    
