.columns
  .column
    =form.input :name, as: :string, required: true, :input_html => { :class => 'input' }
  .column
    %span.select.advisor
      =form.input :organisation, as: :select, collection: OrganisationOption.all, :input_html => { :class => 'input select' }

.columns
  .column
    =form.input :phone, as: :tel, :input_html => { :class => 'input' }
  .column
    =form.input :email, as: :email, required: true, :input_html => { :class => 'input' }
    
.columns
  .column
    =form.input :reason, as: :text, required: true, :input_html => { :class => 'textarea', :rows => 4 }
