.columns
  .column
    =form.input :name, as: :string, required: true, :input_html => { :class => 'input' }
  .column
    %span.select.advisor.organisation
      =form.input :organisation, as: :select, collection: OrganisationOption.all, include_blank: false, :input_html => { :class => 'input select' }
    %span.other-organisation.is-hidden
      =form.input :organisation, as: :string, :input_html => { :class => 'input', disabled: true, id: 'referrer_organisation_other' }
.columns
  .column
    =form.input :phone, as: :tel, :input_html => { :class => 'input' }
  .column
    =form.input :email, as: :email, required: true, :input_html => { :class => 'input' }
    
.columns
  .column
    =form.input :reason, as: :text, required: true, :input_html => { :class => 'textarea', :rows => 4 }
