%tr[client]
  %td=link_to client.name, advisor_client_path(client)
  %td
  %td=client.postcode
  %td
  %td=client.created_at.to_date.to_s(:short)
  %td=client.phone
  %td=button_to I18n.t('clients.buttons.assign_to_me'), advisor_client_assign_to_me_path(client_id: client.id), class: "button is-primary is-small"
