%li.is-block[client]
  .is-inline-block
    =link_to client.name, advisor_client_path(client)
    =I18n.t('clients.information.registered_date', created: client.created_at.to_date.to_s(:short))
  .is-inline-block
    =button_to "Assign to me", '#', disabled: true
