.container.content.columns
  .column.is-10.is-offset-1
    %h3 Here is a list of all the registered clients

    %ul.clients
      = render partial: 'client', collection: @clients

.container.content.columns
  .column.is-10.is-offset-1
    %h4 Unassigned clients

    %ul#unassigned_clients
      = render partial: 'client', collection: @unassigned_clients, as: 'client'
