.column.is-10.is-offset-1
  %h4 Unassigned clients

  -if @clients.any?
    %table#unassigned_clients.table
      %thead
        %tr
          %th Client
          %th Age
          %th Postcode
          %th Sectors
          %th Registered
          %th Phone Number
          %th
      %tbody
        = render partial: 'client', collection: @clients, as: 'client'
  - else
    %h4=I18n.t('advisors.headers.no_unassigned_clients')
    =link_to I18n.t('buttons.my_clients'), advisor_my_clients_path, class: 'button is-primary'
