---
http_interactions:
- request:
    method: get
    uri: https://mapit.mysociety.org/postcode/N155EN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Contenttype:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-gb
      X-Url:
      - "/postcode/N155EN"
      X-Quota-Limit:
      - '50'
      X-Quota-Current:
      - '2'
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 51.58230030899853, "coordsyst": "G", "shortcuts": {"WMC":
        66074, "ward": 8672, "council": 2509}, "wgs84_lon": -0.07626459691357022,
        "postcode": "N15 5EN", "easting": 533386, "areas": {"102592": {"parent_area":
        null, "generation_high": 32, "all_names": {}, "id": 102592, "codes": {"ons":
        "E01002073"}, "name": "Haringey 024D", "country": "E", "type_name": "2001
        Lower Layer Super Output Area (Generalised)", "generation_low": 13, "country_name":
        "England", "type": "OLG"}, "148897": {"parent_area": null, "generation_high":
        32, "all_names": {}, "id": 148897, "codes": {"nhse": "08D"}, "name": "Haringey",
        "country": "E", "type_name": "Clinical Commissioning Group", "generation_low":
        29, "country_name": "England", "type": "CCG"}, "900002": {"parent_area": 900006,
        "generation_high": 32, "all_names": {}, "id": 900002, "codes": {}, "name":
        "London Assembly", "country": "E", "type_name": "London Assembly area (shared)",
        "generation_low": 1, "country_name": "England", "type": "LAE"}, "900000":
        {"parent_area": null, "generation_high": 19, "all_names": {}, "id": 900000,
        "codes": {}, "name": "House of Commons", "country": "", "type_name": "UK Parliament",
        "generation_low": 1, "country_name": "-", "type": "WMP"}, "900006": {"parent_area":
        null, "generation_high": 32, "all_names": {}, "id": 900006, "codes": {}, "name":
        "London Assembly", "country": "E", "type_name": "London Assembly area", "generation_low":
        1, "country_name": "England", "type": "LAS"}, "2247": {"parent_area": null,
        "generation_high": 32, "all_names": {}, "id": 2247, "codes": {"unit_id": "41441"},
        "name": "Greater London Authority", "country": "E", "type_name": "Greater
        London Authority", "generation_low": 1, "country_name": "England", "type":
        "GLA"}, "2509": {"parent_area": null, "generation_high": 32, "all_names":
        {}, "id": 2509, "codes": {"ons": "00AP", "gss": "E09000014", "local-authority-eng":
        "HRY", "unit_id": "11290"}, "name": "Haringey Borough Council", "country":
        "E", "type_name": "London borough", "generation_low": 1, "country_name": "England",
        "type": "LBO"}, "11825": {"parent_area": 2247, "generation_high": 32, "all_names":
        {}, "id": 11825, "codes": {"gss": "E32000007", "unit_id": "41455"}, "name":
        "Enfield and Haringey", "country": "E", "type_name": "London Assembly constituency",
        "generation_low": 1, "country_name": "England", [...]
