---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Homerton%20Library,%20Homerton%20High%20Road,%20E9%206AS&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Homerton High Street",
                       "short_name" : "Homerton High St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "London",
                       "short_name" : "London",
                       "types" : [ "postal_town" ]
                    },
                    {
                       "long_name" : "Greater London",
                       "short_name" : "Greater London",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "England",
                       "short_name" : "England",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United Kingdom",
                       "short_name" : "GB",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "E9 6AS",
                       "short_name" : "E9 6AS",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Homerton High St, London E9 6AS, UK",
                 "geometry" : {
                    "location" : {
                       "lat" : 51.5488747,
                       "lng" : -0.04165820000000001
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 51.5502236802915,
                          "lng" : -0.04030921970849798
                       },
                       "southwest" : {
                          "lat" : 51.5475257197085,
                          "lng" : -0.04300718029150204
                       }
                    }
                 },
                 "place_id" : "ChIJWziIhgQddkgR-r2X2Ra9CwQ",
                 "types" : [ "establishment", "library", "point_of_interest" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 28 Jun 2017 11:58:14 GMT
- request:
    method: get
    uri: https://mapit.mysociety.org/postcode/GU11YF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Contenttype:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-gb
      X-Url:
      - "/postcode/GU11YF"
      X-Quota-Limit:
      - '50'
      X-Quota-Current:
      - '3'
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 51.25692397285712, "coordsyst": "G", "shortcuts": {"WMC":
        65838, "ward": {"county": 143924, "district": 7511}, "council": {"county":
        2242, "district": 2452}}, "wgs84_lon": -0.5431947560860764, "postcode": "GU1
        1YF", "easting": 501755, "areas": {"47424": {"parent_area": null, "generation_high":
        31, "all_names": {}, "id": 47424, "codes": {"ons": "E02006351"}, "name": "Guildford
        008", "country": "E", "type_name": "2001 Middle Layer Super Output Area (Generalised)",
        "generation_low": 13, "country_name": "England", "type": "OMG"}, "96576":
        {"parent_area": null, "generation_high": 31, "all_names": {}, "id": 96576,
        "codes": {"ons": "E01030435"}, "name": "Guildford 008B", "country": "E", "type_name":
        "2001 Lower Layer Super Output Area (Full)", "generation_low": 13, "country_name":
        "England", "type": "OLF"}, "2242": {"parent_area": null, "generation_high":
        31, "all_names": {}, "id": 2242, "codes": {"ons": "43", "gss": "E10000030",
        "unit_id": "13965", "local-authority-eng": "SRY"}, "name": "Surrey County
        Council", "country": "E", "type_name": "County council", "generation_low":
        1, "country_name": "England", "type": "CTY"}, "11811": {"parent_area": null,
        "generation_high": 31, "all_names": {}, "id": 11811, "codes": {"ons": "08",
        "gss": "E15000008", "unit_id": "41421"}, "name": "South East", "country":
        "E", "type_name": "European region", "generation_low": 1, "country_name":
        "England", "type": "EUR"}, "40230": {"parent[...]
