---
http_interactions:
- request:
    method: get
    uri: https://mapit.mysociety.org/postcode/GU11YF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Contenttype:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en-gb
      X-Url:
      - "/postcode/GU11YF"
      X-Quota-Limit:
      - '50'
      X-Quota-Current:
      - '2'
    body:
      encoding: UTF-8
      string: '{"wgs84_lat": 51.25692397285712, "coordsyst": "G", "shortcuts": {"WMC":
        65838, "ward": {"county": 143924, "district": 7511}, "council": {"county":
        2242, "district": 2452}}, "wgs84_lon": -0.5431947560860764, "postcode": "GU1
        1YF", "easting": 501755, "areas": {"47424": {"parent_area": null, "generation_high":
        31, "all_names": {}, "id": 47424, "codes": {"ons": "E02006351"}, "name": "Guildford
        008", "country": "E", "type_name": "2001 Middle Layer Super Output Area (Generalised)",
        "generation_low": 13, "country_name": "England", "type": "OMG"}, "96576":
        {"parent_area": null, "generation_high": 31, "all_names": {}, "id": 96576,
        "codes": {"ons": "E01030435"}, "name": "Guildford 008B", "country": "E", "type_name":
        "2001 Lower Layer Super Output Area (Full)", "generation_low": 13, "country_name":
        "England", "type": "OLF"}, "2242": {"parent_area": null, "generation_high":
        31, "all_names": {}, "id": 2242, "codes": {"ons": "43", "gss": "E10000030",
        "unit_id": "13965", "local-authority-eng": "SRY"}, "name": "Surrey County
        Council", "country": "E", "type_name": "County council", "generation_low":
        1, "country_name": "England", "type": "CTY"}, "11811": {"parent_area": null,
        "generation_high": 31, "all_names": {}, "id": 11811, "codes": {"ons": "08",
        "gss": "E15000008", "unit_id": "41421"}, "name": "South East", "country":
        "E", "type_name": "European region", "generation_low": 1, "country_name":
        "England", "type": "EUR"}, "40230": {"parent[...]
