%p Hello #{@user_login.name},

%p
  You have been signed up as an advisor on the Hackney Works website. To set a
  password and log in, use the link below.
  
%p= link_to 'Get started', @url

= render partial: 'shared/email_signature'
