%p Hello #{@user_login.name},

%p
  An account has been created for you on the Hackney Works website. To set a
  password and log in, use the link below.
  
%p= link_to 'Get started', @url

- if @user_login.user_type == 'Client'
  = render partial: 'shared/client_email_signature'
- else
  = render partial: 'shared/advisor_email_signature'
