.container.covid
  %h2 Changes to apprenticeships during Covid-19

  %p If you recently applied for an apprenticeship with Hackney Council, please note that recruitment is on hold due to the Coronavirus outbreak. We will resume the recruitment process once it is safe for us to organise assessment days and interviews. You will not need to re-apply and apprenticeships will not be re-advertised; we will contact you directly.