.container.covid
  %h2 Changes to Hackney Works Services during Covid-19
  %p The Hackney Works offices are closed - we will keep these web pages updated with job/training information. Our employment advisors are providing telephone support, however, please bear with us – our priority is to support vulnerable clients, those facing a redundancy situation and those interested in volunteering/jobs/careers in key worker roles.
  %p
    For those impacted by COVID-19, details of further support can be found here: 
    =link_to "Coronavirus support", "https://hackney.gov.uk/coronavirus-support", target: "_blank"
    You can also call Hackney's Coronavirus helpline: 
    =link_to "020 8356 3111", "tel:020 8356 3111"