%nav.nav.container
  .nav-left
    .nav-item
      WaysIntoWork
  %span.nav-toggle
    %span
    %span
    %span
  .nav-right.nav-menu
    %a.nav-item.is-tab Home
    %a.nav-item.is-tab Information
    %a.nav-item.is-tab Sign Up/In

#alerts
  = render 'layouts/alerts'
