%footer.front_page_footer
  .lines
  .container.columns
    .logo.column
      %a{:href => "https://hackney.gov.uk", :target => "_blank"}
        =image_tag('hackney_logo_white.png', :alt => 'Hackney Council')
        %br
        =image_tag('find-yourself-type-white.svg', :alt => 'Find yourself in Hackney', class: 'tagline')
      .copy
        &copy; 2018 Hackney
    .column
      .link
        =link_to "Information for employers", employers_path
      .link
        =link_to "Supported Employment", support_path
      .link
        =link_to "Apprenticeships", apprenticeships_path
      .link
        =link_to "Hackney 100", hackney100_path
    .column
      .link
        =link_to "Refer someone", new_client_referrers_path
      .link
        =link_to "Meet the team", hubs_path
      .link
        =link_to "Privacy", privacy_policy_path

      .link
        = link_to "Register", new_client_path
        ="/"
        = link_to I18n.t('header.nav.sign_in'), user_login_session_path

