%footer
  .container.columns
    .line.column
      =image_tag('find-yourself-type.svg', :alt => 'Find yourself in Hackney')
    .logo.column
      %a{:href => "https://hackney.gov.uk", :target => "_blank"}
        =image_tag('hackney_logo_black.png', :alt => 'Hackney Council')
  .lines
