.container
  .level
    .level-left.has-text-left
      %p
        %span.bold Find
        %span yourself in
        %span.bold Hackney
    #footer_logo.has-text-right.level-right.is-3
      =image_tag('hackney_logo_black.png', :alt => 'Hackney Council')
