!!! 5
%html{:lang => "en"}
  %head
    = render 'layouts/html_head'
  %body{class: page_class}
    %header{:class => "site-header", :role => "banner"}
      = render 'layouts/site_header'

    %main{:class => "main section", :id => "main", :role => "main"}
      .container
        = yield

    %footer{:class => "site-footer section", :role => "contentinfo"}
      .container
        = render 'layouts/site_footer'
