!!! 5
%html{:lang => "en"}
  %head
    = render 'layouts/html_head'
  %body{class: page_class}
    #main-site-wrapper
      = render current_header

      #watermark.hackney-logo.container
        =image_tag('hackney_opportunities_logo@2x.png', :alt => 'Hackney Opportunities')

      %main{:class => "main section", :id => "main", :role => "main"}
        = yield

    %footer{:class => "site-footer footer", :role => "contentinfo"}
      = render 'layouts/site_footer'
